<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            /** Define the margins of your page **/
            @page {
                margin: 100px 50px;
            }

            header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                color: gray;
                text-align: left;
                padding-left: 20px;
                font-size: .9em
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                color: darkGray;
                text-align: center;
                font-size: 0.5em;
            }

            table{
              width: 100%
            }

            table, th, td {
              /* border: 1px solid black; */
              
            }

            /* tr:nth-child(even) {background-color: #CCC}
            tr:nth-child(odd) {background-color: #FFF} */

            td{
              /* border: 1px solid black; */
              vertical-align: middle;
              border-collapse: collapse;
              font-size: 1.5em;
              line-height: 30px;
            }

            .numero{
              text-align: center;
            }

            .invoice-header{
            }

            .info-enterprise{
              width: 58%;
              display: inline-block;
              vertical-align : top;
              margin-top: 1px;
            }

            .info-provider{
              width: 40%;
              display: inline-block;
              float: right;
              vertical-align : top;
              margin-top: 1px;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            table, th, td {
              border: 1px solid black;
            }

            tbody{
              font-size: .7em;
            }

            .settlement{
              width: 95%;
              font-size: 1em;
            }

            .formatage-montant{
              text-align: right;
              padding-right: 5px;
            }
        </style>
        <meta charset="UTF-8">
        <title>Points des entrées et sorties du {{ date }} | Smart Market</title>
    </head>
    <body>
        {# Inclusion de l'entête de du pied de page #}
        {{ include('header.html.twig') }}
        <!-- Wrap the content of your PDF inside a main tag -->
        <main>
            {# <p style="page-break-after: always;">
                Content Page 1
            </p>
            <p style="page-break-after: never;">
                Content Page 2
            </p> #}
          <div class="content">
            <div style="text-align: center; padding-top: 10px; font-size: 1.5em">
              <span>
                Points des entrées et sorties <br> <strong>{{ date }}<strong>
              </span><br><br>
            </div>
            
            <div class="table-responsive">
              <table class="table" cellspacing="0" border="0">
                <thead>
                  <tr style="align: left">
                    <th colspan="3">Description</th>
                    <th>Montant</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3">Total ventes (Net à payer)</td>
                    <td class="formatage-montant">{{ totalNetAPayer|number_format(2, ',', ' ') }} F</td>
                  </tr>
                  <tr>
                    <td rowspan="3">Total entrées</td>
                    <td>Espéces</td>
                    <td class="formatage-montant">{{ totalCaisse|number_format(0, ',', ' ') }} F</td>
                    <td rowspan="3" class="formatage-montant">{{ totalEntrees|number_format(2, ',', ' ') }} F</td>
                  </tr>
                  <tr>
                    <td>Banque</td>
                    <td class="formatage-montant">{{ totalBanque|number_format(2, ',', ' ') }} F</td>
                  </tr>
                  <tr>
                    <td>Services Money</td>
                    <td class="formatage-montant">{{ totalSM|number_format(2, ',', ' ') }} F</td>
                  </tr>
                  <tr>
                    <td colspan="3">Total règlements par acompte</td>
                    <td class="formatage-montant">{{ totalAcompte|number_format(2, ',', ' ') }} F</td>
                  </tr>
                  <tr>
                    <td colspan="3">Total avoirs</td>
                    <td class="formatage-montant">{{ (totalAvoirs)|number_format(2, ',', ' ') }} F</td>
                  </tr>
                  <tr>
                    <td colspan="3">Crédit accordé</td>
                    <td class="formatage-montant">{{ (totalNetAPayer - totalEntrees)|number_format(2, ',', ' ') }} F</td>
                  </tr>
                  <tr>
                    <td colspan="3">Dépenses du jour</td>
                    <td class="formatage-montant">{{ depensesDuJour|number_format(2, ',', ' ') }} F</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">Reste</td>
                    <td class="formatage-montant">{{ (totalEntrees - depensesDuJour - totalAvoirs)|number_format(2, ',', ' ') }} F</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </main>
    </body>
</html>