<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            /** Define the margins of your page **/
            @page {
                margin: 100px 50px;
            }

            header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                color: gray;
                text-align: left;
                padding-left: 20px;
                font-size: .9em
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                color: darkGray;
                text-align: center;
                font-size: 0.5em;
            }

            table, th, td {
              border: 1px solid black;
            }

            td{
              border: 1px solid black;
              border-collapse: collapse;
              font-size: 1.2em
            }

            .numero{
              text-align: center;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            tbody{
              font-size: .7em;
            }

            /* body{
              display: flex;
              flex-direction: column-reverse;
            } */
        </style>
        <meta charset="UTF-8">
        <title>Dettes {{ 'now'|date('d-m-Y H:i:s') }} | Smart Market</title>
    </head>
    <body>
        {# Inclusion de l'entête de du pied de page #}
        {{ include('header.html.twig') }}
        <div class="title-form">
          <h1 class="title">Liste des dettes</h3>
        </div>
        <div class="reference">
          <div class="row">
            <div class="col">
              <p class="annee">Date : {{ date }}<span class="info"></span></p>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <div class="content">
          <table class="table table-sm" cellspacing="0" border="0">
            <thead>
              <tr>
                <th width="20px">#</th>
                <th width="450px">Clients</th>
                <th width="100px">Total dettes</th>
                <th width="100px">Date</th>
                <th width="150px">Montant</th>
                <th width="150px">Reste</th>
              </tr>
            </thead>
            <tbody>
              {% set i = 0 %}
              {% set totalGeneral = 0 %}
              {% for customer in nbrCommandes %}
                {% set i = i + 1 %}
                {% set cpt = 0 %}
                {% for vente in ventes if vente.customer.id == customer.id %}
                  {% set cpt = cpt + 1 %}
                  {% if cpt == 1 %}
                    <tr>
                      <td style="vertical-align: middle" rowspan="{{ customer.nbrCommandes }}">{{ i }}</td>
                      <td style="vertical-align: middle" rowspan="{{ customer.nbrCommandes }}">
                        {% if customers[customer.id] is empty %}
                          Aucun règlement effectué
                        {% else %}
                          {{ customers[customer.id].firstname }} {{ customers[customer.id].lastname }} ({{ customers[customer.id].phoneNumber }})
                        {% endif %}
                      </td>
                      {% set reste = vente.customer.getMontantTotalCommandeNonSoldees - vente.customer.getMontantTotalReglementCommandeNonSoldees %}
                      <td style="vertical-align: middle" rowspan="{{ customer.nbrCommandes }}">{{ reste|number_format(0, ',', ' ') }} F</td>
                      <td>{{ vente.date|date('d-m-Y') }}</td>
                      <td>{{ vente.totalAmount|number_format(0, ',', ' ') }} F</td>
                      <td>
                        {% set total = 0 %}
                        {% for item in vente.settlements %}
                          {% set total = total + item.amount %}
                        {% endfor %}
                        {% set dette = vente.totalAmount - total %}
                        {% set totalGeneral = totalGeneral + dette %}
                        {{ dette|number_format(0, ',', ' ') }} F
                      </td>
                    </tr>
                  {% else %}
                    <tr>
                      <td>{{ vente.date|date('d-m-Y') }}</td>
                      <td>{{ vente.totalAmount|number_format(0, ',', ' ') }} F</td>
                      <td>
                        {% set total = 0 %}
                        {% for item in vente.settlements %}
                          {% set total = total + item.amount %}
                        {% endfor %}
                        {% set dette = vente.totalAmount - total %}
                        {% set totalGeneral = totalGeneral + dette %}
                        {{ dette|number_format(0, ',', ' ') }} F
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">Total de toutes les dettes</td>
                <td>{{ totalGeneral|number_format(0, ',', ' ') }} F</td>
              </tr>
            </tfoot>
          </table>
        </div>
    </body>
</html>