{% extends 'Security/base.html.twig' %}


{% block title 'Connexion | Smart Market' %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div> 
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}



{% block body %}
  <div id="fh5co-main">
    <div class="container">
      <div class="fh5co-narrow-content">
        <div class="row">
          <div class="col-md-4 p5">
            <h1 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><span>Connexion</span></h1>
            <h1 class="animate-box" data-animate-effect="fadeInRight">SmartMarket</h1>
            <hr class="divider-icon"><br>
            {% if error %}
              <div class="uk-margin-auto uk-margin-auto-vertical">
                <div class="uk-alert-danger" uk-alert>
                  <a class="uk-alert-close" uk-close></a>
                  {{ error.messageKey }}
                </div>
              </div>
            {% endif %}
            <form action="{{ path('login') }}" method="post">
              <div class="uk-margin">
                <div class="form-group">
                  <span class="uk-form-icon" uk-icon="icon: user"></span>
                  <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Nom d'utilisateur"/>
                </div>
                <div class="form-group">
                  <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                  <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe"/>
                </div>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/><br><br>
              <button type="submit" class="btn-primary btn-lg">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Connexion
              </button>
            </form>
            <!-- <p><a href="{{ path('resetting') }}">Mot de passe oublié ?</a> </p> -->
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function () {
      $("#username").focus();
    })
  </script>
{% endblock %}

