{% extends 'base.html.twig' %}


{% block title 'En attente de réinitialisation de mot de passe compte Smart Market' %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <div class="uk-container">
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">
      <div class="uk-text-center">
        {{ form_start(form) }}
          <div class="uk-margin">
            <div class="uk-inline">
              {{ form_row(form.pwd, { 'attr': {'class': 'uk-input'} }) }}
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline">
              {{ form_row(form.pwd1, { 'attr': {'class': 'uk-input'} }) }}
            </div>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('check_password') }}"/>
          <button type="submit" class="uk-button uk-button-default">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Réinitialiser le mot de passe
          </button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
