{% extends 'base.html.twig' %}


{% block title %}Mise à jour des informations du fournisseur {{ provider.firstname }} {{ provider.lastname }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    <h2 class="animate-box" data-animate-effect="fadeInLeft">Mise à jour des informations du fournisseur <strong>{{ provider.firstname }} {{ provider.lastname }}</strong> </h2>
    {{ form_start(form, {'attr': {'class': ''}}) }}
        <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Reference</label>
                <input type="text" name="" id="" class="form-control" value="{{ provider.reference }}" readonly>
              </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">{{ form_label(form.firstname) }}</label>
                    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">{{ form_label(form.lastname) }}</label>
                    {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">{{ form_label(form.phone_number) }}</label>
                    {{ form_widget(form.phone_number, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">{{ form_label(form.email) }}</label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">{{ form_label(form.country) }}</label>
                    {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">{{ form_label(form.city) }}</label>
                    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">{{ form_label(form.nationalite) }}</label>
                    {{ form_widget(form.nationalite, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">{{ form_label(form.numero_compte_bancaire) }}</label>
                    {{ form_widget(form.numero_compte_bancaire, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <button class="btn btn-default" onclick="submitForm(this);">{{ button|default('Editer') }}</button>
    {{ form_end(form) }}
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}
