{% extends 'base-admin.html.twig' %}


{% block title %}Modification de l'achat du {{ product.description }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Modification d'un achat <strong>{{ product.category.name }} {{ product.mark.label }} - {{ product.description }}</strong> </h2>
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    {{ include('Admin/Provider/_provider.html.twig', {button: 'Editer'}) }}
  </div>
{% endblock %}
