{% extends 'base.html.twig' %}


{% block title %}Enregistrement d'une commande{% endblock %}


{% block stylesheets %}
  <style>
    label.required:before{
      content: "* ";
    }
  </style>
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    <h2 class="animate-box" data-animate-effect="fadeInLeft">Enregistrement d'une commande</h2>
    {{ form_start(form, {'attr': {'class': ''}}) }}
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {{ form_label(form.provider) }}
              {{ form_widget(form.provider, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="date" class="required">Date de la commande</label>
              <input type="date" name="date" value="" class="form-control" required>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              {{ form_label(form.transport) }}
              {{ form_widget(form.transport, {'attr': {'class': 'form-control', 'value': '0'}}) }}
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  {{ form_label(form.dedouanement) }}
                  {{ form_widget(form.dedouanement, {'attr': {'class': 'form-control', 'value': '0'}}) }}
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  {{ form_label(form.currency_cost) }}
                  {{ form_widget(form.currency_cost, {'attr': {'class': 'form-control', 'value': '0'}}) }}
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              {{ form_label(form.forwarding_cost) }}
              {{ form_widget(form.forwarding_cost, {'attr': {'class': 'form-control', 'value': '0'}}) }}
            </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  {{ form_label(form.additional_fees) }}
                  {{ form_widget(form.additional_fees, {'attr': {'class': 'form-control', 'value': '0'}}) }}
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                  <label for="tva"  class="required">TVA</label>
                  <select name="tva" id="tva" class="form-control" required>
                    <option value="0">0%</option>
                    <option value="18">18%</option>
                  </select>
              </div>
          </div>
          <div class="col-md-2">
            <div class="form-group ">
              <label for="remise">Remise</label><br>
              <input type="number" name="remise" id="remise" value="0" class="form-control" required>
            </div>
          </div>
      </div>
      <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ajouter un produit</button>
      <section class="">
      {# <form class="ui form" action="" method="post"> #}
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th>Référence</th>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix Unitaire</th>
              <th>Sous total</th>
              <th>Actions</th>
            </tr>
          </thead>
          {% set total = 0 %}
          <tbody>
            {# <tr><td>Reference</td><td>label</td><td><input type="number" class="quantity" id="quantities[]" name="quantities[]" value="" required readonly></td><td><input type="number" class="price" id="prices[]" name="prices[]" value="" required readonly></td><td><input type="number" class="sousTotal" id="sousTotal[]" name="sousTotal[]" value="" readonly><input type="hidden" name="products[]" value=""></td><td><i class="icon-trash" title="Retirer de la vente en cours"></i></td></tr> #}
            <tr></tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4"><span style="font-size: 1.5em; font-weight: bold;">Total de la commande (HT)</span></td>
              <td><input type="text" id="total" name="total" value="" readonly required></td>
            </tr>
            <tr>
              <td colspan="4"><span style="font-size: 1.5em; font-weight: bold;">Valeur TVA</span></td>
              <td><input type="text" id="montantTva" name="montantTva" value="" readonly required></td>
            </tr>
            <tr>
              <td colspan="4"><span style="font-size: 1.5em; font-weight: bold;">Montant TTC</span></td>
              <td><input type="text" id="ttc" name="ttc" value="" readonly required></td>
            </tr>
            <tr>
              <td colspan="4"><span style="font-size: 1.5em; font-weight: bold;">Net à payer</span></td>
              <td><input type="text" id="net" name="net" value="" readonly required></td>
            </tr>
          </tfoot>
        </table>
        <input type="hidden" name="token" value="{{ csrf_token('achat') }}"/>
        <input type="submit" class="btn-default btn-lg" id="save" value="Enregistrer" onclick="submitForm(this);"><br><br>
      {# </form> #}
    </section>
    {{ form_end(form) }}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sélection de produits</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="reference" class="col-form-label">Référence de produit</label>
                <input type="text" name="reference" class="form-control" id="reference" value="PR">
              </div>
              <div class="form-group">
                <label for="products" class="col-form-label">Produits</label>
                <select name="products" id="products" class="form-control">
                  <option value="">Sélectionnez un produit</option>
                  {% for product in products %}
                    <option value="{{ product.id }}">{{ product.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="quantity" class="col-form-label">Quantité:</label>
                  <input type="number" class="form-control" id="quantity" value="1" min="1" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="price" class="col-form-label">Prix unitaire:</label>
                  <input type="number" class="form-control" id="price" value="" required>
                </div>
              </div>
              <div class="form-group text-center"><div id="notif"><p style="color: red; font-weight: bolder"></p></div></div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="productId" id="productId" value="">
              <input type="hidden" name="productLabel" id="productLabel" value="">
              <input type="hidden" name="productStock" id="productStock" value="">
              <button type="button" class="btn-lg btn-default" data-dismiss="modal">Fermer</button>
              <button type="submit" class="btn-lg btn-primary" id="add_product">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function(){
      var total = $("#total").val();
      var productsId = [];
      // var test = $('#test').data("isTest")
      // A chaque fois qu'on sélectionne un produit
      $('#products').on('change',function(e){
        $.ajax({
          url: '/ventes/select-product/' + this.value,
          type: 'GET',
          dataType: 'json',
          success: function (result) {                
              $("#price").val(result.purchasing_price);
              $("#productId").val(result.id);
              $("#reference").val(result.reference);
              $("#productLabel").val(result.label);
              $("#productStock").val(result.stock);
              $("#quantity").val(1);
              $("#quantity").focus();
              $("#notif p").text('');
          },
          error: function (xhr, status, error) {
            console.log(error)
          }
        });
      });


      $("#reference").keyup(function(){
        if($(this).val().length >= 5){
          var ref = $(this).val();
          $.ajax({
            url: '/ventes/select-product-by-reference/' + ref,
            type: 'GET',
            dataType: 'json',
            success: function (result) { 
              if(result.length != 0) 
              {
                $("#price").val(result.purchasing_price);
                $("#productId").val(result.id);
                $("#productLabel").val(result.label);
                $("#productStock").val(result.stock);
                $("#quantity").val(1);
                $("#quantity").focus();
                $('#products option[value="'+ result.id +'"]').attr('selected', 'selected');
                $("#notif p").text('');
              } 
              else{
                $("#notif p").text('Référence (' + ref + ') incorrecte.');
              }
            },
            error: function (xhr, status, error) {
              console.log(error)
            }
          });
        } else {
          $(".nomFr").val('');
          $(".pnomFr").val('');
          $(".dateNaissance").val('');
        }
      });

      // A chaque fois que la quantité change
      $('#add_product').on('click',function(e){
        var id = $("#productId").val();
        var reference = $("#reference").val();
        var label = $("#productLabel").val();
        var stock = $("#productStock").val();
        var price = $("#price").val();
        var quantity = $("#quantity").val();        

        if(price == undefined || price == null || price == 0){
          $("#notif p").text('Le prix d\'achat n\'a pas été précisé.');
          return false;
        }
        if(quantity == undefined || quantity == null || quantity == 0){
          $("#notif p").text('La quantité à acheter n\'a pas été précisée.');
          return false;
        }

        if(jQuery.inArray(id, productsId) !== -1)
        {
          $("#notif p").text('Ce produit (' + label + ') a déjà été ajouté à la commande en cours');
        }
        else{
          productsId.push(id);
          console.log(productsId);
          var sousTotal = quantity * price;
          total = eval(total + sousTotal);
              
          $("#total").val(total)
          // $("#myTable tbody tr:last").after('<tr><td>' + reference + '</td><td>' + label + '</td><td><input type="number" class="quantity" id="quantities[' + id + ']" name="quantities[' + id + ']" value="' + quantity + '" required readonly></td><td><input type="number" class="price" id="prices[' + id + ']" name="prices[' + id + ']" value="' + price + '" required readonly></td><td><input type="number" class="sousTotal" id="sousTotal[' + id + ']" name="sousTotal[' + id + ']" value="' + sousTotal + '" readonly><input type="hidden" name="products[]" value="' + id + '"></td><td></td></tr>');
          $("#myTable tbody tr:last").after('<tr><td>' + reference + '</td><td>' + label + '</td><td><input type="number" class="quantity" id="quantities[' + id + ']" name="quantities[' + id + ']" value="' + quantity + '" required readonly></td><td><input type="number" class="price" id="prices[' + id + ']" name="prices[' + id + ']" value="' + price + '" required readonly></td><td><input type="number" class="sousTotal" id="sousTotal[' + id + ']" name="sousTotal[' + id + ']" value="' + sousTotal + '" readonly><input type="hidden" name="products[]" value="' + id + '"></td><td><i class="icon-trash" title="Retirer ' + label + ' de la vente en cours"></i></td></tr>');
          $("#products").val(null);
          $("#reference").val("PR");
          $("#price").val(null);
          $("#quantity").val(1);
          $('#products option[value="'+ id +'"]').remove();
          $("#notif p").text('');
          var t = eval($("#total").val())
          var tva = eval($("#tva").val()) / 100
          var taxe = eval(t * tva)
          var remise = parseInt($("#remise").val())
          $("#montantTva").val(taxe)
          $("#ttc").val(t + taxe)
          $("#net").val(t + taxe - remise)
        }
        e.preventDefault()
      });


      // A chaque fois que le prix change
      $('.price').on('input',function(e){
        var id = $(this).attr("name");
        var price = $(this).val();
        var priceH = document.getElementById('priceH[' + id + ']');
        var qte = document.getElementById('quantity[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        priceH.value = price;
        sousTotal.value = parseFloat(qte) * parseFloat(price);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });

      // A chaque fois que la quantité change
      $('.quantity').on('input',function(e){
        var id = $(this).attr("name");
        console.log(id);
        
        var qte = $(this).val();
        var quantityH = document.getElementById('quantityH[' + id + ']');
        var price = document.getElementById('price[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        quantityH.value = qte;
        sousTotal.value = parseFloat(price) * parseFloat(qte);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });


    // Si le taux de la tva change, il faut mettre à jour 
    $("#tva").on("change", function(){
      var t = eval($("#total").val())
      var tva = parseInt($("#tva").val()) / 100
      var taxe = eval(t * tva)
      var remise = parseInt($("#remise").val())
      $("#montantTva").val(taxe)
      $("#ttc").val(t + taxe)
      $("#net").val(t + taxe - remise)
    })


    // A chaque fois que la remise change, il faut mettre à jour 
    $("#remise").on("change input keyup paste", function(){
      var t = eval($("#total").val())
      var tva = eval($("#tva").val()) / 100
      var taxe = eval(t * tva)
      var remise = eval(this.value)
      if(remise == undefined || remise == null || remise == 0){
        remise = 0;
      }
      $("#montantTva").val(taxe)
      $("#ttc").val(t + taxe)
      $("#net").val(t + taxe - remise)
    })
     

    $('.icon-trash').on("click", function(){
      var id = $(this).parent();
      console.log(id);
    });
    });

    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}
