{% extends 'base.html.twig' %}


{% block title %}Ajout de marchandises pour l'achat du {{ commande.date|date('d-m-Y') }}{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Ajout de marchandises pour l'achat du {{ commande.date|date('d-m-Y') }}</h2>
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    {% if products|length != 0 %}
      <form action="" method="post">
        {% for category in categories %}
          <h3>{{ category.name }}</h3>
          <div class="row">
            {% for item in products if category.id == item.category.id %}
              <div class="col-md-4">
                <label for="product[{{item.id}}]">
                  <input type="checkbox" name="products[{{item.id}}]" id="product[{{item.id}}]" value="{{item.id}}">
                  {{ item.label }}
                </label>
              </div>
            {% endfor %}
          </div><br><br>
        {% endfor %}
        <input type="hidden" name="commandeId" value="{{ commande.id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('provider.order') }}"/>
        <button type="submit" name="valider" id="valider" class="btn btn-primary btn-sm" onclick="submitForm(this);">Valider</button>
      </form>
    {% endif %}
  </div>
{% endblock %}


{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();

        // $('#valider').on('click', function(){
        //   this.prop('disabled', false)
        // })
    });


    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}
