{% extends 'base.html.twig' %}


{% block title %}Modification de la commande du {{ product.description }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Modification de la commande <strong>{{ product.category.name }} {{ product.mark.label }} - {{ product.description }}</strong> </h2>
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    {{ include('Admin/Purchase/_purchase.html.twig', {button: 'Editer'}) }}
  </div>
{% endblock %}

{% block javascript %}
  <script>
    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}
