<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            /** Define the margins of your page **/
            @page {
                margin: 100px 50px;
            }

            header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                color: gray;
                text-align: left;
                padding-left: 20px;
                font-size: .9em
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                color: darkGray;
                text-align: center;
                font-size: 0.5em;
            }

            table{
              width: 100%
            }

            table, th, td {
              /* border: 1px solid black; */
              
            }

            /* tr:nth-child(even) {background-color: #CCC}
            tr:nth-child(odd) {background-color: #FFF} */

            td{
              /* border: 1px solid black; */
              vertical-align: middle;
              border-collapse: collapse;
              font-size: 1.5em;
              line-height: 30px;
            }

            .numero{
              text-align: center;
            }

            .invoice-header{
            }

            .info-enterprise{
              width: 58%;
              display: inline-block;
              vertical-align : top;
              margin-top: 1px;
            }

            .info-provider{
              width: 40%;
              display: inline-block;
              float: right;
              vertical-align : top;
              margin-top: 1px;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            table, th, td {
              border: 1px solid black;
            }

            tbody{
              font-size: .7em;
            }

            .settlement{
              width: 95%;
              font-size: 1em;
            }

            .formatage-montant{
              text-align: right;
              padding-right: 5px;
            }
        </style>
        <meta charset="UTF-8">
        <title>Reçu d'acompte | Smart Market</title>
    </head>
    <body>
        {# Inclusion de l'entête de du pied de page #}
        {{ include('header.html.twig') }}
        <!-- Wrap the content of your PDF inside a main tag -->
        <main>
          <div class="content">
            <div style="text-align: center; padding-top: 10px; font-size: 1.5em">
              <span>
                Reçu acompte<strong>
              </span><br><br>
            </div>
            <div class="row">
              <div class="info-enterprise" style="">
                <div class="reference-commande">
                  <strong>Code client</strong><span class="ref">: {{ acompte.customer.reference }}</span><br>
                  <strong>Client </strong><span class="ref">: {{ acompte.customer.firstname }} {{ acompte.customer.lastname }}</span>
                </div>
              </div>
            </div><br>
            <div class="row">
              {# <p style="text-align: center;">
                {% if settlements|last.modePaiement == 1 %}
                  PAIEMENT AU COMPTANT
                {% elseif settlements|last.modePaiement == 2 %}
                  PAIEMENT PAR VIREMENT
                {% elseif settlements|last.modePaiement == 3 %}
                  PAIEMENT AVEC ACOMPTE CLIENT
                {% elseif settlements|last.modePaiement == 4 %}
                  PAIEMENT PAR SERVICE MONEY
                {% endif %}
              </p> #}
              <p style="text-align: center; font-weight: bold; border: 1px solid black">ACOMPTE RECU</p>
            </div>
            <div class="row" style="text-align: right; padding-right: 10px;">
              <span style="font-weight: bold;">{{ 'now'|date('d-m-Y') }}</span> à <span style="font-weight: bold;">{{ 'now'|date('H:i:s') }}</span>
            </div><br>
            <div class="table-responsive">
              {% set i = 0 %}
              <table class="table" cellspacing="0" border="0">
                <thead>
                  <tr align="left">
                    <th>Date</th>
                    <th>Montant</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ acompte.date|date('d-m-Y') }}</td>
                    <td>{{ acompte.montant|number_format(0, ',', '.') }} F</td>
                  </tr>
                  {% if acompte.commentaire %}
                    <tr>
                      <td colspan="2">
                        <strong>Commentaire</strong><br>
                        {{ acompte.commentaire }}
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Montant total au {{ 'now'|date('d-m-Y') }}</th>
                    <th>{{ acompte.customer.acompte|number_format(0, ',', '.') }} F</th>
                  </tr>
                </tfoot>
              </table>
              <br>
              <div style="">
                {# <table class="table" cellspacing="0" border="0" width="90%">
                    <tr style="border: 1px solid black">
                      <td width="50%">Valeur total Acompte</td>
                      <td width="40%" align="right" style="align: right">
                        {{ acompte.customer.acompte|number_format(0, ',', ' ') }} F
                      &nbsp;
                      </td>
                      <td width="5%"></td>
                    </tr>
                  </tfoot>
                </table> #}
              </div>
            </div>
            <div class="row">
              <div style="text-align: right; font-style: italic; padding-right: 20px">
                <p><strong>Merci pour votre confiance</strong></p><br>
                <p>Edité par : <strong>{{ app.user.username }}</strong></p><br><br>
              </div>
            </div>
          </div>
        </main>
    </body>
</html>