{% extends 'base.html.twig' %}

{% block title %}Comptabilité - Les crédits{% endblock %}


{% block notification %}
{% endblock %}


{% block body %}
<div class="fh5co-narrow-content">
  <div class="row justify-content-center generic-height align-items-center mb-3">
    <div class="col-lg-10">
      <a href="javascript:history.back()" class="btn btn-primary">
        <span class="lnr lnr-arrow-left"></span>&nbsp;Retour
      </a><br><br>
      <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Les créances en cours</h2>
      {% if achats|length != 0 %}
        <a href="{{ path('print_creances') }}" class="btn-info btn-sm">
          Imprimer les créances
        </a><br><br>
      {% endif %}
      
      <div class="row">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Fournisseur</th>
              <th>Total dettes</th>
              <th>Date</th>
              <th>Montant</th>
              <th>Reste</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% set i = 0 %}
            {% set totalGeneral = 0 %}
            {% for provider in nbrCommandes %}
              {% set i = i + 1 %}
              {% set cpt = 0 %}
              {% for achat in achats if achat.provider.id == provider.id %}
                {% set cpt = cpt + 1 %}
                {% if cpt == 1 %}
                  <tr>
                    <td style="vertical-align: middle" rowspan="{{ provider.nbrCommandes }}">{{ i }}</td>
                    <td style="vertical-align: middle" rowspan="{{ provider.nbrCommandes }}">
                      {% if providers[provider.id] is empty %}
                        Aucun règlement effectué
                      {% else %}
                        {{ providers[provider.id].firstname }} {{ providers[provider.id].lastname }} ({{ providers[provider.id].phoneNumber }})
                      {% endif %}
                    </td>
                    {% set reste = achat.provider.getMontantTotalCommandeNonSoldees - achat.provider.getMontantTotalReglementCommandeNonSoldees %}
                    <td style="vertical-align: middle" rowspan="{{ provider.nbrCommandes }}">{{ reste|number_format(0, ',', ' ') }} F</td>
                    <td>{{ achat.date|date('d-m-Y') }}</td>
                    <td>{{ achat.totalAmount|number_format(0, ',', ' ') }} F</td>
                    <td>
                      {% set total = 0 %}
                      {% for item in achat.settlements %}
                        {% set total = total + item.amount %}
                      {% endfor %}
                      {% set dette = achat.totalAmount - total %}
                      {% set totalGeneral = totalGeneral + dette %}
                      {{ dette|number_format(0, ',', ' ') }} F</td>
                    <td>
                      <a href="{{ path('provider.order.details', {'id': achat.id}) }}" class=" circle arrow small">Plus de détails</a>
                      {% if achat.ended == false %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('provider_settlement', {id: achat.id, 'option':'compabilite'}) }}"data-toggle="tooltip" title="Enregistrer un règlement"><i class="icon-plus"></i></a>
                      {% endif %}
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td>{{ achat.date|date('d-m-Y') }}</td>
                    <td>{{ achat.totalAmount|number_format(0, ',', ' ') }} F</td>
                    <td>
                      {% set total = 0 %}
                      {% for item in achat.settlements %}
                        {% set total = total + item.amount %}
                      {% endfor %}
                      {% set dette = achat.totalAmount - total %}
                      {% set totalGeneral = totalGeneral + dette %}
                      {{ dette|number_format(0, ',', ' ') }} F</td>
                    <td>
                      <a href="{{ path('provider.order.details', {'id': achat.id}) }}" class=" circle arrow small">Plus de détails</a>
                      {% if achat.ended == false %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('provider_settlement', {id: achat.id, 'option':'compabilite'}) }}"data-toggle="tooltip" title="Enregistrer un règlement"><i class="icon-plus"></i></a>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">Total de toutes les créances</td>
              <td>{{ totalGeneral|number_format(0, ',', ' ') }} F</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
