{% extends 'base.html.twig' %}

{% block title %}Comptabilité Journalière{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
<div class="fh5co-narrow-content">
  <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Récapitulatif des ventes du jours</h2>
  <a href="javascript:history.back()" class="btn btn-primary sm">
    <span class="lnr lnr-arrow-left"></span>&nbsp;Retour
  </a><br><br>
  <div class="row">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Total des ventes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for vente in ventes %}
          {% set i = i + 1 %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ vente.date|date('d-m-Y') }}</td>
            <td>{{ vente.1|number_format(0, ',', ' ') }} F CFA</td>
            <td>
              <a href="{{ path('vente.du.jour', {date: vente.date|date('Y-m-d')}) }}" class="circle arrow small">Plus de détails</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
