{% extends 'base.html.twig' %}

{% block title %}Index Comptabilité{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
<div class="fh5co-narrow-content">
  <a href="javascript:history.back()" class="btn btn-primary sm">Retour</a>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Comptabilité</h2>
  <div class="row row-bottom-padded-md">
      <div class="col-sm-2">
        <a href="{{ path('dayly.accounting') }}" class="btn-primary btn-sm">
          Compte journalier
        </a>
      </div>
      <div class="col-sm-2">
        <a href="{{ path('monthly.accounting') }}" class="btn-primary btn-sm">
          Compte mensuel
        </a>
      </div>
      <div class="col-sm-2">
        <a href="{{ path('accounting.debtor') }}" class="btn-primary btn-sm">
          Débiteurs
        </a>
      </div>
      <div class="col-sm-2">
        <a href="{{ path('echeances') }}" class="btn-primary btn-sm">
          Echéances
        </a>
      </div>
  </div>

  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Charges & autres dépenses</h2>
  <div class="row row-bottom-padded-md">
      <div class="col-sm-2">
        <a href="{{ path('depenses_add') }}" class="btn-primary btn-sm">
          Ajouter une dépense
        </a>
      </div>
      <div class="col-sm-3">
        <a href="{{ path('depenses_mensuelles') }}" class="btn-primary btn-sm">
          Voir les charges mensuelles
        </a>
      </div>
      <div class="col-sm-3">
        <a href="{{ path('typedepenses') }}" class="btn-primary btn-sm">
          Gestion des types de dépenses
        </a>
      </div>
  </div>
</div>
{% endblock %}
