{% extends 'base.html.twig' %}

{% block title %}Enregistrement du bilan d'ouverture{% endblock %}


{% block stylesheets %}
{% endblock %}


{% block notifications %}
{% endblock %}


{% block body %}
<div class="fh5co-narrow-content">
  <a href="javascript:history.back()" class="btn btn-primary">Retour</a>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Enregistrement du bilan d'ouverture</h2>
  <div class="row">
    <div class="">
      <form action="" method="post">
        <span style="font-style: italic; color: red"><strong>NB: </strong>- Veuillez saisir les montants en supprimant le chiffre 0 initialement dans les zones de saisie des montants. Sinon, vous aurez des erreurs de calcul. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Cependant, s'il n y a pas de montant à saisir, vous pouvez laissez le zéro. Car tous les champs sont obligatoires.</span>
        <div class="form-control">
          <label for="date">Date de début du premier exercie</label>
          <input type="date" name="date" id="date" value="{{ "now"|date("Y-m-d") }}">
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="2" style="font-size: 1.5em; text-align: center">Actif</th>
              <th colspan="2" style="font-size: 1.5em; text-align: center">Passif</th>
            </tr>
            <tr>
              <th width="35%">Compte</th>
              <th width="15%">Montant</th>
              <th width="35%">Compte</th>
              <th width="15%">Montant</th>
            </tr>
          </thead>
          <tbody>
            {% for i in 0..2 %}  
              <tr>
                <td colspan="2" style="font-style: italic">{{ classesActifs[i].label }}</td>
                <td colspan="2" style="font-style: italic">{{ classesPassifs[i].label }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  {% for compte in comptesActifs if compte.classe == classesActifs[i] %}  
                    <div class="row">
                      <div class="col-md-1">{{ compte.numero }}</div>
                      <div class="col-md-6">{{ compte.label }}</div>
                      <div class="col-md-4"><input type="number" class="comptesActifs" name="comptesActifs[{{ compte.numero }}]" value="0" title="Montant de {{ compte.label }}" required></div>
                    </div>
                  {% endfor %}
                </td>
                <td colspan="2">
                  {% for compte in comptesPassifs if compte.classe == classesPassifs[i] %}  
                    <div class="row">
                      <div class="col-md-1">{{ compte.numero }}</div>
                      <div class="col-md-6">{{ compte.label }}</div>
                      <div class="col-md-4"><input type="number" class="comptesPassifs" name="comptesPassifs[{{ compte.numero }}]" value="0" title="Montant de {{ compte.label }}" required></div>
                    </div>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
              <th><input type="number" id="totalActif" name="totalActif" value="0" readonly></th>
              <th>Total</th>
              <th><input type="number" id="totalPassif" name="totalPassif" value="0" readonly></th>
            </tr>
          </tfoot>
        </table>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('bilan_ouverture') }}"/>
        <button type="submit" class="btn-sm btn-info" id="sms">Enregistrer le bilan</button>
      </form>
    </div>
    {# <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2" style="font-size: 1.5em; text-align: center">Actif</th>
            <th colspan="2" style="font-size: 1.5em; text-align: center">Passif</th>
          </tr>
          <tr>
            <th width="35%">Compte</th>
            <th width="15%">Montant</th>
            <th width="35%">Compte</th>
            <th width="15%">Montant</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Clients</td>
            <td></td>
            <td>Fournisseurs</td>
            <td></td>
          </tr>
          <tr>
            <td>Stock</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Caisse</td>
            <td></td>
            <td>Capital</td>
            <td></td>
          </tr>
          <tr>
            <td>Banque</td>
            <td></td>
            <td>Emprunt</td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th></th>
            <th>Total</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div> #}
  </div>	
</div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function(){
      $("#sms").on("click", function(e){
        var totalActif = $("#totalActif").val()
        var totalPassif = $("#totalPassif").val()
        if(totalActif != totalPassif)
        {
          // console.log("Incorrect");
          alert("Le total actif n'est pas égal au totap passif.");
          e.preventDefault();
        }
        if(totalActif == 0 || 0 == totalPassif)
        {
          // console.log("Incorrect");
          alert("Vous n'avez saisi aucune donnée.");
          e.preventDefault();
        }
        else {
          this.form.submit();
        }
      })


      $(".comptesActifs").on("input", function(){
        $("#totalActif").val($.fn.calculateTotalActif());
      });

      $.fn.calculateTotalActif = function()
      {
        var sousTotaux = $('.comptesActifs');
        var total = 0;
        for (let i = 0; i < sousTotaux.length; i++) {
          const element = sousTotaux[i];
          total += eval(element.value)
        }

        // console.log("Le total fait " + total);
        return total;
      }



      $(".comptesPassifs").on("input", function(){
        $("#totalPassif").val($.fn.calculateTotalPassif());
      });

      $.fn.calculateTotalPassif = function()
      {
        var sousTotaux = $('.comptesPassifs');
        var total = 0;
        for (let i = 0; i < sousTotaux.length; i++) {
          const element = sousTotaux[i];
          total += eval(element.value)
        }

        // console.log("Le total fait " + total);
        return total;
      }
    })
  </script>
{% endblock %}
