{% extends 'base.html.twig' %}


{% block stylesheets %}
  <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}


{% block title %}
  Enregistrer acompte client
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a>
    <h2 class="animate-box" data-animate-effect="fadeInLeft">Enregistrer acompte client</h2>
    <section class="container">
      <form class="form" action="" method="post">
        <div class="row">
          <div class="form-group col-md-4 col-sm-4 col-xs-4">
            <label for="customer">Client</label>
            <select name="customer" id="customer" class="form-control mb-4 js-example-basic-single" required>
              <option value="">Sélectionner un client</option>
              {% for customer in customers %}
                <option value="{{ customer.id }}">{{ customer.nom }} {{ customer.phoneNumber }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-4">
            <label for="date" class="col-form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="{{ 'now'|date('Y-m-d') }}" required>
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-4">
            <label for="montant" class="col-form-label">Montant</label>
            <input type="number" class="form-control" id="montant" name="montant" value="" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="mode">Mode de paiement</label>
            <select name="mode" id="mode" class="form-control" required>
              <option value="1">Espèce</option>
              <option value="2">Virement</option>
            </select>
          </div>
          <div class="form-group col-md-8">
            <label for="remarque">Remarque</label>
            <input type="text" class="form-control" name="remarque" id="remarque" placeholder="Vous pouvez laisser une remarque sur cette opétation">
          </div>
        </div>
        <input type="hidden" name="token" value="{{ csrf_token('acompte_client') }}"/>
        <input type="submit" class="btn-default btn-lg" id="save" value="Enregistrer" onclick="submitForm(this);">
        {# <button class="btn-default btn-lg" id="save">{{ button|default('Enregistrer') }}</button><br><br> #}
      </form>
    </section>
  </div>
{% endblock %}


{% block javascript %}
  <script src="{{ asset('js/select2.min.js') }}"></script>
  <script>
    $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>
{% endblock %}
