{% extends 'base.html.twig' %}


{% block title %}Les marques{% endblock %}


{% block stylesheets %}
    <link href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn-primary btn">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Familles de produits</h2>
  <a href="{{ path('mark.add') }}" class="btn-sm btn-primary">Ajouter une nouvelle famille</a><br><br>
  <div class="table-responsive">
    <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>N°</th>
          <th>Famille</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>N°</th>
          <th>Famille</th>
          <th>Actions</th>
        </tr>
      </tfoot>
      <tbody>
        {% set i = 0 %}
        {% for family in families %}
          {% set i = i + 1 %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ family.label }}</td>
            <td>
              <a href="{{ path('family.edit', {id: family.id}) }}" title="Modifier cette famille"><i class="icon-edit"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{% block javascript %}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/datatables-demo.js') }}"></script>
{% endblock %}
