{{ form_start(form, {'attr': {'class': ''}}) }}
    <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            {{ form_label(form.reference) }}
            {{ form_widget(form.reference, {'attr': {'class': 'form-control', 'value': reference, 'placeholder': 'Référence du produit'}}) }}
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.family) }}
                {{ form_widget(form.family, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.category) }}
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.mark) }}
                {{ form_widget(form.mark, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Donner la description du produit'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.purchasing_price) }}
                {{ form_widget(form.purchasing_price, {'attr': {'class': 'form-control', 'value': '0'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.unit_price) }}
                {{ form_widget(form.unit_price, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.security_stock) }}
                {{ form_widget(form.security_stock, {'attr': {'class': 'form-control', 'value': '20'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.unite) }}
                {{ form_widget(form.unite, {'attr': {'class': 'form-control', 'value': '1'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="codebarre">Code barre</label>
                <input type="text" name="codebarre" id="codebarre" class="form-control">
            </div>
        </div>
    </div><br><br>
    <button class="btn-lg btn-default" onclick="submitForm(this);">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
