<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            /** Define the margins of your page **/
            @page {
                margin: 100px 50px;
            }

            header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                color: gray;
                text-align: left;
                padding-left: 20px;
                font-size: .9em
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                color: darkGray;
                text-align: center;
                font-size: 0.5em;
            }

            table{
              width: 95%
            }

            table, th, td {
              border: 1px solid black;
            }

            td{
              border: 1px solid black;
              border-collapse: collapse;
              font-size: 1.2em
            }

            .numero{
              text-align: center;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            tbody{
              font-size: .7em;
            }

            /* body{
              display: flex;
              flex-direction: column-reverse;
            } */
        </style>
        <meta charset="UTF-8">
        <title>Inventaire du stock {{ 'now'|date('d-m-Y H:i:s') }} | Smart Market</title>
    </head>
    <body>
        {# Inclusion de l'entête de du pied de page #}
        {{ include('header.html.twig') }}
        <div class="title-form">
          <h1 class="title">Coût total des produits en stock</h3>
        </div>
        <div class="reference">
          <div class="row">
            <div class="col">
              <p class="annee">Date : {{ 'now'|date('d-m-Y H:i:s') }}<span class="info"></span></p>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          {# <div class="row">
            <div class="">
              <p>Nombre de redoublants : <span class="info">{{ annee.label }}</span></p>
            </div>
          </div> #}
        </div>
        <div class="content">
          <table cellspacing="0">
            <thead>
              <tr>
                <th class="numero">N°</th>
                <th class="">Référence</th>
                <th class="">Désignation</th>
                <th class="">Stock</th>
                <th class="">Prix d'achat</th>
                <th class="">Sous-total</th>
              </tr>
            </thead>
            <tbody>
              {% set i = 0 %}
              {% set total = 0 %}
              {% for product in products %}
                {% set i = i + 1 %}
                <tr>
                  <td class="numero">{{ i }}</td>
                  <td>{{ product.reference }}</td>
                  {% set nom = product.label %}
                  {% if nom|length > 30 %}
                    {% set nom = nom|slice(0, 30) ~ '.' %}
                  {% endif %}
                  <td>{{ product.label }}</td>
                  <td>{{ product.totalStock }}</td>
                  <td>{{ product.getAveragePurchasePrice|number_format(0, ',', ' ') }} F</td>
                  {% set sousTotal = product.totalStock * product.getAveragePurchasePrice %}
                  <td>{{ sousTotal|number_format(0, ',', ' ') }} F</td>
                  {% set total = total + sousTotal %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          Coût total des marchandises: {{ total|number_format(0, ',', ' ') }} F
        </div>
    </body>
</html>