{% extends 'base.html.twig' %}


{% block title %}Les marchandises{% endblock %}


{% block stylesheets %}
    <link href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <style>
      .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        /* padding: 6px 0; */
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }
      .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        /* padding: 10px 16px; */
        font-size: 10px;
        text-align: center;
        line-height: 1.33;
        border-radius: 50px;
      }
    </style>
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Marchandises</h2>
  {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('product_add') }}" title="Ajouter un produit"><button class="btn btn-primary btn-circle btn-xl" style="text-align: center">Ajouter <br> un produit</button></a>
    <a href="{{ path('contitution_catalogue') }}" title="Constituer un catalogue de produits"><button class="btn btn-info btn-circle btn-xl">Constituer <br>un catalogue <br> de produits</button></a>
    <a href="{{ path('mark') }}" title="Gestion des marques de produits"><button class="btn btn-default btn-circle btn-xl">Marques</button></a>
    <a href="{{ path('category') }}" title="Gestion des catégories de produits"><button class="btn btn-info btn-circle btn-xl">Catégories</button></a>
    <a href="{{ path('family') }}" title="Gestion des familles de produits"><button class="btn btn-info btn-circle btn-xl">Famille</button></a>
    <a href="{{ path('impression_inventaire') }}" title="Vente prévisionnelle"><button class="btn btn-default btn-circle btn-xl">Vente <br> Prévisionnelle</button></a>
    <a href="{{ path('cout_total_en_stock') }}" title="Inventaire"><button class="btn btn-info btn-circle btn-xl" style="font-size: 10px;">Inventaire</button></a>
    <a href="{{ path('impression_cout_total_en_stock') }}" title="Inventaire en PDF"><button class="btn btn-primary btn-circle btn-xl"><i class="icon-file"></i>Inventaire</button></a>
    <br><br>
      <a href="{{ path('add_multiple_products') }}" class="btn-sm btn-default">Ajouter plusieus produits à la fois</a>
    <br><br>
  {% endif %}
  <div class="table-responsive">
      <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>N°</th>
            <th>Référence</th>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Prix unitaire</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>N°</th>
            <th>Référence</th>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Prix unitaire</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          {% set i = 0 %}
          {% for product in products %}
            {% set i = i + 1 %}
            <tr {% if product.stock == 0 %}class="bg-danger"{% elseif product.stock < product.securityStock %}class="bg-warning"{% endif %}>
              <td>{{ i }}</td>
              <td>{{ product.reference }}</td>
              <td>{{ product.category.name }}</td>
              <td>{% if product.mark %} {{ product.mark.label }} {% endif %}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.stockUnite }}</td>
              <td>{{ product.unitPrice|number_format(0, ',', ' ') }} F</td>
              <td>
                <a href="{{ path('product_edit', {id: product.id}) }}" title="Modifier ce produit"><i class="icon-edit"></i></a>
                {% if is_granted("ROLE_STOCK_INITIAL") %}
                  &nbsp;&nbsp;&nbsp;
                  <a href="{{ path('update_product_stock', {id: product.id}) }}" title="Modifier le stock"><i class="icon-cog"></i></a>
                {% endif %}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                  &nbsp;&nbsp;&nbsp;
                  <a href="{{ path('define_product_prices', {id: product.id}) }}" title="Modifier ce produit"><i class="icon-xing"></i></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/datatables-demo.js') }}"></script>
{% endblock %}
