{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Détails de la commande fournisseur N°{{ commande.reference }} du {{ commande.date|date('d-m-Y') }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}



{% block body %}
  <a href="javascript:history.back()" class="btn btn-primary btn-sm">Retour</a>
  <h2 class="animate-box" data-animate-effect="fadeInLeft">Détails commande fournisseur <strong>N°{{ commande.reference }}</strong> du <strong>{{ commande.date|date('d-m-Y') }}</strong></h2>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <span style="font-weight: bold; font-size: 2em">Charges</span><br>
      <strong>Transport:</strong>
      <span>{{ commande.transport|number_format(0, ',', ' ') }} F</span><br>
      <strong>Dédouanement:</strong>
      <span>{{ commande.dedouanement|number_format(0, ',', ' ') }} F</span><br>
      <strong>Conversion de devises:</strong>
      <span>{{ commande.currencyCost|number_format(0, ',', ' ') }} F</span><br>
      <strong>Frais pour le transitaire:</strong>
      <span>{{ commande.forwardingCost|number_format(0, ',', ' ') }} F</span><br>
      <strong>Autres charges:</strong>
      <span>{{ commande.additionalFees|number_format(0, ',', ' ') }} F</span><br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <span style="font-weight: bold; font-size: 2em">Fournisseur</span><br>
      <strong>Nom fournisseur:</strong>
      <span>{{ commande.provider.firstname }} {{ commande.provider.lastname }}</span><br>
      <strong>Adresse fournisseur:</strong>
      <span>{{ commande.provider.country.name }} {{ commande.provider.city }}</span><br>
      <strong>Numéro de téléphone fournisseur:</strong>
      <span>{{ commande.provider.phoneNumber }}</span><br>
      <strong>Email fournisseur:</strong>
      <span>{{ commande.provider.email }}</span><br>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <span style="font-weight: bold; font-size: 2em">Bilan commande</span><br>
      <strong>Nombre de produit:</strong>
      <span>{{ commande.product|length }} </span><br>
      <strong>Total des charges</strong>
      <span>{{ commande.totalFees|number_format(0, ',', ' ') }} F</span><br>
      <strong>Coût total de la commande:</strong>
      <span>{{ commande.globalTotal|number_format(0, ',', ' ') }} F</span><br>
    </div>
  </div><br><br>
  <div class="row">
    <a href="{{ path('bon_commande', {id: commande.id}) }}" class="btn-info btn-sm"> <i class="icon-show"></i> Imprimer la commande</a>
  </div><br><br>
  <div class="row">
    <div class="">
      <div class="table-responsive">
        {% set i = 0 %}
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix Unitaire</th>
              <th>Prix de revient</th>
              <th>Sous-total</th>
            </tr>
          </thead>
          {% for item in commande.product %}
            {% set i = i + 1 %}
            {% set sousTotal = item.quantity * item.unitPrice %}
              <tbody>
                <tr>
                  <td>{{ i }}</td>
                  <td>{{ item.product.label }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.unitPrice|number_format(0, ',', ' ') }} F</td>
                  <td>{{ item.minimumSellingPrice|number_format(0, ',', ' ') }} F</td>
                  <td>{{ sousTotal|number_format(0, ',', ' ') }} F</td>
                </tr>
              </tbody>
          {% endfor %}
          <tfoot>
            <tr>
              <th colspan="5">Total des marchandises</th>
              <th><span>{{ commande.netAPayer|number_format(0, ',', ' ') }} F</span></th>
            </tr>
          </tfoot>
        </table>
      </div><br>
    </div>
  </div><br><br>
  <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h3>Règlements</h3>
          {% if commande.settlements is not empty %}
            {% set total = 0 %}
            <table width="100%">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Montant</th>
                  <th>Enregistré</th>
                  <th>Mode</th>
                </tr>
              </thead>
              <tbody>
                {% for item in commande.settlements %}
                  <tr>
                    {% set total = total + item.amount %}
                    <td>{{ item.date|date('d-m-Y') }}</td>
                    <td>{{ item.amount|number_format(0, ',', ' ') }} F</td>
                    <td>le {{ item.createdAt|date('d-m-Y') }} par <strong>{{ item.createdBy.username }}</strong></td>
                    <td>
                      {% if item.modePaiement == 1 %}
                        COMPTANT
                      {% elseif item.modePaiement == 2 %}
                        VIREMENT
                      {% elseif item.modePaiement == 3 %}
                        ACOMPTE CLIENT
                      {% elseif item.modePaiement == 4 %}
                        SERVICE MONEY
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
            {% if commande.ended == true %}
              <p>Soldée</p>
            {% else %}
              {% set rest = commande.netAPayer - total - totalRetour %}
              <p>Reste à Payer : {{ rest|number_format(0, ',', ' ') }} F</p>
            {% endif %}
          {% endif %}
        </div>
      </div><br><br>
{% endblock %}
