{% extends 'base.html.twig' %}


{% block title %}Mise à jour de l'échéance de paiement de la commande {{ echeance.commande.reference }} {% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
    <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Mise à jour de l'échéance de paiement de la commande {{ echeance.commande.reference }}</h2>
    <div class="row">
      <div class="col-md-4">
        <h3>Client</h3>
        {% if echeance.commande.customer is not empty %}
          <strong>Nom Client:</strong>
          <span>{{ echeance.commande.customer.firstname }} {{ echeance.commande.customer.lastname }}</span><br>
          <strong>Numéro de téléphone client:</strong>
          <span>{{ echeance.commande.customer.phoneNumber }}</span><br>
        {% else %}
          Vente anomyne
        {% endif %}
      </div>
      <div class="col-md-4">
        <h3>Commande</h3>
        <strong>Montant total de la vente</strong><br>
        <span>{{ echeance.commande.netAPayer|number_format(0, ',', ' ') }} F</span><br>
        <strong>Reste à payer</strong><br>
        <span>{{ echeance.commande.getResteAPayer|number_format(0, ',', ' ') }} F</span><br>

      </div>
    </div><br><br>
    <form action="" method="post">
      <div class="row">
        <div class="col-md-4">
          <label for="date1">Date de l'échéance</label>
          <input type="date" name="date" id="date" value="{{ echeance.dateEcheance|date('Y-m-d') }}" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="montant1">Montant de l'échéance</label>
          <input type="number" name="montant" id="montant" value="{{ echeance.amount }}" class="form-control">
        </div>
      </div><br>
      <div class="row">
        <input type="hidden" name="token" value="{{ csrf_token('token_edit_echeance') }}">
        <button type="submit" class="btn-lg btn-info" onclick="submitForm(this);">Appliquer</button>
      </div>
    </form>
  </div>
{% endblock %}


{% block javascript %}
  <script type="text/javascript">

    function submitForm(btn) {
      // disable the button
      btn.disabled = true;
      // submit the form    
      btn.form.submit();
    }
  </script>
{% endblock %}