{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Détails de la commande N°{{ commande.reference }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}



{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="animate-box" data-animate-effect="fadeInLeft">Détails de la commande client <strong>N°{{ commande.reference }}</strong></h2>
    <a href="javascript:history.back()" class="btn btn-primary btn-sm">Retour</a>
    <div class="row">
      <div class="col-md-4">
        <h3>Client</h3>
        {% if commande.customer is not empty %}
          <strong>Nom Client:</strong>
          <span>{{ commande.customer.firstname }} {{ commande.customer.lastname }}</span><br>
          <strong>Numéro de téléphone client:</strong>
          <span>{{ commande.customer.phoneNumber }}</span><br>
          <strong>Type du client:</strong>
          <span>{{ commande.customer.type.type }}</span><br>
        {% else %}
          Vente anomyne
        {% endif %}
      </div>
      <div class="col-md-4">
        <h3>Commande</h3>
        <strong>Date de la commande:</strong>
        <span>{{ commande.date|date('d-m-Y') }}</span><br>
        <strong>Référence:</strong>
        <span>{{ commande.reference }}</span><br>
        <strong>Montant total:</strong>
        <span>{{ commande.netAPayer|number_format(0, ',', ' ') }} F</span><br>
        <strong>Vendu par:</strong>
        <span>{{ commande.createdBy.username }}</span><br>
        <strong>Vendu le:</strong>
        <span>{{ commande.createdAt|date('d-m-Y') }}</span><br>
      </div>
      <div class="col-md-4">
        <h3>Opérations</h3>
        <a href="{{ path('delete_commande', {'id': commande.id, '_csrf_token': csrf_token('delete_commande')}) }}" class="btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Supprimer la commande {{ commande.reference }}" onclick="return confirm('Etes-vous sûrs de supprimer la commande {{ commande.reference }} ?')">
          <i class="icon-trash"></i>Annuler la commande
        </a><br><br>
        <a href="{{ path('deliver_customer_commande', {'id': commande.id}) }}" class="btn-sm btn-info">
          <i class="icon-send"></i>Livrer la commande
        </a><br><br>
      </div>
    </div><br><br>
    <div class="row">
      <div class="">
        <div class="table-responsive">
          {% set i = 0 %}
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Sous-total</th>
              </tr>
            </thead>
            {% for item in commande.product %}
              {% set i = i + 1 %}
                <tbody>
                  <tr>
                    <td>{{ i }}</td>
                    <td>{{ item.product.label }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unitPrice|number_format(0, ',', ' ') }} F</td>
                    <td>{{ item.subtotal|number_format(0, ',', ' ') }} F</td>
                  </tr>
                </tbody>
            {% endfor %}
          </table>
        </div><br><br>
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            {# <h3>Avances</h3> #}
            {% if commande.settlements is not empty %}
              {% set total = 0 %}
              <table width="100%">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Enregistré par</th>
                    <th>Enregistré le</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in commande.settlements %}
                    <tr>
                      {% set total = total + item.amount %}
                      <td>{{ item.date|date('d-m-Y') }}</td>
                      <td>{{ item.amount|number_format(0, ',', ' ') }} F</td>
                      <td>{{ item.createdBy.username }}</td>
                      <td>{{ item.createdAt|date('d-m-Y') }}</td>
                      <td>
                        <a href="{{ path('facture_client', {id: commande.id, settlementId: item.id}) }}" title="Imprimer une facture" style="font-size: 1.5em;"><i class="icon-file"></i></a>
                        {% if is_granted('ROLE_ADMIN') and commande.settlements|last == item %}
                          <a href="{{ path('edit_settlement', {id: item.id}) }}" title="Modifier le montant" style="font-size: 1.5em;"><i class="icon-edit"></i></a>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
              {% if commande.ended == true %}
                <p>Soldée</p>
              {% else %}
                {% set rest = commande.netAPayer - total - totalRetour %}
                <p>Reste à Payer : {{ rest|number_format(0, ',', ' ') }} F</p>
              {% endif %}
            {% endif %}
          </div>
        </div><br><br>
      </div>
    </div>
  </div>
{% endblock %}
