<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            table{
              width: 95%
            }

            table, th, td {
              /* border: 1px solid black; */
            }

            /* tr:nth-child(even) {background-color: #CCC}
            tr:nth-child(odd) {background-color: #FFF} */

            td{
              /* border: 1px solid black; */
              border-collapse: collapse;
              font-size: 1.2em
            }

            .numero{
              text-align: center;
            }

            .invoice-header{
            }

            .info-enterprise{
              width: 58%;
              display: inline-block;
              vertical-align : top;
              margin-top: 1px;
            }

            .info-customer{
              width: 40%;
              display: inline-block;
              float: right;
              vertical-align : top;
              margin-top: 1px;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            tbody{
              font-size: .7em;
            }

            .title{
              text-align: center;
              font-family: 'Elegance';
            }

            .title-form{
              border: 3px solid black;
              /* margin: 1px */
            }
        </style>
        <meta charset="UTF-8">
        <title>Facture de la vente N° {{ commande.reference }} | Smart Market</title>
    </head>
    <body>
        <div class="title-form">
          <h1 class="title">
            Facture vente N° {{ commande.reference }} 
          </h1>
        </div>
        <div class="reference">
          <div class="invoice-header">
            <div class="info-enterprise" style="">
              <h2>Info Commande</h2>
              <div class="reference-commande">
              <strong>Date de la commande:</strong>
              <span>{{ commande.date|date('d-m-Y') }}</span><br>
              <strong>Référence:</strong>
              <span>{{ commande.reference }}</span><br>
              <strong>Montant total de la vente:</strong>
              <span>{{ commande.totalAmount|number_format(0, ',', ' ') }} F</span><br>
              </div>
            </div>
            <div class="info-customer" style="">
              <h2>Client</h2>
              {% if commande.customer %}
                <div class="reference-client">
                  <strong>Nom Client:</strong>
                  <span>{{ commande.customer.firstname }} {{ commande.customer.lastname }}</span><br>
                  <strong>Numéro de téléphone client:</strong>
                  <span>{{ commande.customer.phoneNumber }}</span><br>
                  <strong>Type du client:</strong>
                  <span>{{ commande.customer.type.type }}</span><br>
                </div>
              {% endif %}
            </div>
          </div><br><br>
        </div>
        <div class="content">
          <div class="table-responsive">
          {% set i = 0 %}
          <table class="table" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Réf</th>
                <th>Désignation</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Sous-total</th>
              </tr>
            </thead>
            {% for item in commande.product %}
              {% set i = i + 1 %}
              {% set color = "" %}
              {% if (i % 2) == 0 %}
                  {% set color = 'white' %}
              {% else %}
                  {% set color = '#DCDCDC' %}
              {% endif %}
                <tbody>
                  <tr bgcolor="{{ color }}">
                    <td>{{ item.product.reference }}</td>
                    <td>{{ item.product.label }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unitPrice|number_format(0, ',', ' ') }} F</td>
                    <td>{{ item.subtotal|number_format(0, ',', ' ') }} F</td>
                  </tr>
                </tbody>
            {% endfor %}
            <tfoot>
              <tr style="border: 1px solid black">
                <td colspan="3">TOTAL</td>
                <td colspan="2" bgcolor="#D3D3D3" style="align: center">{{ commande.totalAmount|number_format(0, ',', ' ') }} F CFA</td>
              </tr>
            </tfoot>
          </table>
        </div><br><br><br><br><br>
        <div class="row">
          <div style="text-align: right; font-style: italic">
            <p class="annee">Editée le <strong>{{ 'now'|date('d-m-Y') }}</strong> à <strong>{{ 'now'|date('H:i:s') }}</strong> par <strong>{{ app.user.username }}</strong></strong></p>
          </div>
        </div>
    </body>
</html>