{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Préparation de commande client
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <div class="">
    <h2>Préparation de commande client</h2>
    <button type="button" class="btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ajouter un produit</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sélection de produits</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="reference" class="col-form-label">Référence de produit</label>
                <input type="text" name="reference" class="form-control" id="reference" value="PR">
              </div>
              <div class="form-group">
                <label for="products" class="col-form-label">Produits</label>
                <select name="products" id="products" class="form-control">
                  <option value="">Sélectionnez un produit</option>
                  {% for product in products if product.stock > 0 %}
                    <option value="{{ product.id }}">{{ product.label }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="quantity" class="col-form-label">Quantité:</label>
                  <input type="number" class="form-control" id="quantity" value="1" min="1" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="price" class="col-form-label">Prix unitaire:</label>
                  <input type="number" class="form-control" id="price" value="" required>
                </div>
              </div>
              <div class="form-group text-center"><div id="notif"><p style="color: red; font-weight: bolder"></p></div></div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="productId" id="productId" value="">
              <input type="hidden" name="productLabel" id="productLabel" value="">
              <input type="hidden" name="productStock" id="productStock" value="">
              <button type="button" class="btn-lg btn-default" data-dismiss="modal">Fermer</button>
              <button type="submit" class="btn-lg btn-primary" id="add_product">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <section class="container">
      <form class="ui form" action="" method="post">
        <br>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="customer">Client</label>
            <input type="text" name="" id="" value="{{ customer.firstname }} {{ customer.lastname }}" readonly>
          </div>
          <div class="form-group col-md-6">
            {# <label for="date">Date de la commande</label>
            <input type="date" name="date" id="date" value="{{ 'now'|date('Y-m-d') }}">
          </div> #}
        </div>
        {% set i = 0 %}
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th>Référence</th>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix Unitaire</th>
              <th>Sous total</th>
              <th>Actions</th>
            </tr>
          </thead>
          {% set total = 0 %}
          <tbody>
            {# <tr><td>Reference</td><td>label</td><td><input type="number" class="quantity" id="quantities[]" name="quantities[]" value="" required readonly></td><td><input type="number" class="price" id="prices[]" name="prices[]" value="" required readonly></td><td><input type="number" class="sousTotal" id="sousTotal[]" name="sousTotal[]" value="" readonly><input type="hidden" name="products[]" value=""></td><td><i class="icon-trash" title="Retirer de la vente en cours"></i></td></tr> #}
            <tr></tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4"><h4>Total de la commande</h4></td>
              <td><h4><input type="text" id="total" name="total" value="" readonly required></h4></td>
            </tr>
          </tfoot>
        </table>
        <input type="hidden" name="token" value="{{ csrf_token('vente') }}"/>
        <input type="submit" class="btn-default btn-lg" id="save" value="Enregistrer" onclick="submitForm(this);">
        {# <button class="btn-default btn-lg" id="save">{{ button|default('Enregistrer') }}</button><br><br> #}
      </form>
    </section>
  </div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function(){
      var total = $("#total").val();
      var productsId = [];
      // var test = $('#test').data("isTest")
      // A chaque fois qu'on sélectionne un produit
      $('#products').on('change',function(e){
        $.ajax({
          url: '/ventes/select-product/' + this.value,
          type: 'GET',
          dataType: 'json',
          success: function (result) {                
              $("#price").val(result.unit_price);
              $("#productId").val(result.id);
              $("#reference").val(result.reference);
              $("#productLabel").val(result.label);
              $("#productStock").val(result.stock);
              $("#quantity").val(1);
              $("#quantity").focus();
              $("#quantity").select();
              $("#notif p").text('');
          },
          error: function (xhr, status, error) {
            console.log(error)
          }
        });
      });


      $("#reference").keyup(function(){
        if($(this).val().length >= 5){
          var ref = $(this).val();
          $.ajax({
            url: '/ventes/select-product-by-reference/' + ref,
            type: 'GET',
            dataType: 'json',
            success: function (result) { 
              if(result.length != 0 && result.stock != 0) 
              {
                $("#price").val(result.unit_price);
                $("#productId").val(result.id);
                $("#productLabel").val(result.label);
                $("#productStock").val(result.stock);
                $("#quantity").val(1);
                $("#quantity").focus();
                $("#quantity").select();
                $('#products option[value="'+ result.id +'"]').attr('selected', 'selected');
                $("#notif p").text('');
              } 
              else if(result.length != 0 && result.stock == 0) {
                $("#notif p").text('Stock de (' + result.label + ') épuisé.');
              } 
              else{
                $("#notif p").text('Référence (' + ref + ') incorrecte.');
              }
            },
            error: function (xhr, status, error) {
              console.log(error)
            }
          });
        } else {
          $(".nomFr").val('');
          $(".pnomFr").val('');
          $(".dateNaissance").val('');
        }
      });

      // A chaque fois que la quantité change
      $('#add_product').on('click', function(e){
        var id = $("#productId").val();
        var reference = $("#reference").val();
        var label = $("#productLabel").val();
        var stock = $("#productStock").val();
        var price = $("#price").val();
        var quantity = $("#quantity").val();        

        if(jQuery.inArray(id, productsId) !== -1)
        {
          $("#notif p").text('Ce produit (' + label + ') a déjà été ajouté à la commande en cours');
        }
        else{
          if(parseInt(quantity) <= parseInt(stock)){
            productsId.push(id);
            console.log(productsId);
            var sousTotal = quantity * price;                
            // $("#myTable tbody tr:last").after('<tr><td>' + reference + '</td><td>' + label + '</td><td><input type="number" class="quantity" id="quantities[' + id + ']" name="quantities[' + id + ']" value="' + quantity + '" required readonly></td><td><input type="number" class="price" id="prices[' + id + ']" name="prices[' + id + ']" value="' + price + '" required readonly></td><td><input type="number" class="sousTotal" id="sousTotal[' + id + ']" name="sousTotal[' + id + ']" value="' + sousTotal + '" readonly><input type="hidden" name="products[]" value="' + id + '"></td><td></td></tr>');
            $("#myTable tbody tr:last").after('<tr id="tableLineId' + id + '"><td>' + reference + '</td><td>' + label + '</td><td><input type="number" class="setQuantity" id="quantities[' + id + ']" name="quantities[' + id + ']" value="' + quantity + '" required readonly></td><td><input type="number" class="setPrice" id="prices[' + id + ']" name="prices[' + id + ']" value="' + price + '" required readonly></td><td><input type="number" class="sousTotal" id="sousTotal[' + id + ']" name="sousTotal[' + id + ']" value="' + sousTotal + '" readonly><input type="hidden" name="products[]" value="' + id + '"></td><td><i class="icon-trash" id="' + id + '" title="Retirer ' + label + ' de la vente en cours" onclick="$.fn.deleteProduct(' + id + ')"></i></td></tr>');
            $("#products").val(null);
            $("#reference").val("PR");
            $("#price").val(null);
            $("#quantity").val(1);
            $('#products option[value="'+ id +'"]').remove();
            $("#notif p").text('');
            $("#total").val($.fn.calculateTotal())
          }
          else{
            $("#notif p").text('Quantité demandée indisponible pour le produit ' + label );
          }
        }
        e.preventDefault();
      });


      // A chaque fois que le prix change
      $('.price').on('input',function(e){
        var id = $(this).attr("name");
        var price = $(this).val();
        var priceH = document.getElementById('priceH[' + id + ']');
        var qte = document.getElementById('quantity[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        priceH.value = price;
        sousTotal.value = parseFloat(qte) * parseFloat(price);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });

      // A chaque fois que la quantité change
      $('.quantity').on('input',function(e){
        var id = $(this).attr("name");
        console.log(id);
        
        var qte = $(this).val();
        var quantityH = document.getElementById('quantityH[' + id + ']');
        var price = document.getElementById('price[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        quantityH.value = qte;
        sousTotal.value = parseFloat(price) * parseFloat(qte);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
      });


      // A chaque fois que le prix change
      $('.setPrice').on('change paste keyup',function(e){
        var id = $(this).attr("name");
        var price = $(this).val();
        var priceH = document.getElementById('prices[' + id + ']');
        var qte = document.getElementById('quantities[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        priceH.value = price;
        sousTotal.value = parseFloat(qte) * parseFloat(price);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });

      // A chaque fois que la quantité change
      $('.setQuantity').on('change paste keyup',function(e){
        console.log($(this).val());
        
        var id = $(this).attr("name");
        var qte = $(this).val();
        console.log(id);
        var quantityH = document.getElementById('quantities[' + id + ']');
        var price = document.getElementById('prices[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        quantityH.value = qte;
        sousTotal.value = parseFloat(price) * parseFloat(qte);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });
     

      $('#myTable').on("click", '.icon-trash', function(e){
        var id = $(this);
        console.log($(this));
        
        // $.fn.deleteProduct(id);
      });

      $('#myTable').on("change paste keyup", '.setQuantity', function(e){
      });

      
      $('#save').on('click', function(){
        $(this).attr('disabled', disabled);
      });

      $.fn.calculateTotal = function()
      {
        var sousTotaux = $('.sousTotal');
        var total = 0;
        for (let i = 0; i < sousTotaux.length; i++) {
          const element = sousTotaux[i];
          total += eval(element.value)
        }

        console.log("Le total fait " + total);
        return total;
      }

      $.fn.deleteProduct = function(id)
      {
        // Au clique sur le bouton de suppression dans la liste des produits de la commande en cours,
        // 1. On retire l'id du produit du tableau des ids de produit productsId
        productsId = $.grep(productsId, function(value){
          return value != id
        });

        // 2. On ajoute le produit retiré au select (menu déroulant) des produits dans la boîte modal d'ajout de produit
        $.ajax({
          url: '/ventes/select-product/' + id,
          type: 'GET',
          dataType: 'json',
          success: function (result) { 
            console.log(result);
            $('#products option:last').after('<option value="' + result.id + '">' + result.label + '</option>');
          },
          error: function (xhr, status, error) {
            console.log(error)
          }
        });
        
        // 3. On supprime la ligne (l'élément tr) du produit du tableau visible dans le navigateur
        $('#tableLineId' + id).remove()

        // 4. On calcule à nouveau le total de la commande
        $("#total").val($.fn.calculateTotal());
      }

    });

    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }

  </script>
{% endblock %}
