{% extends 'base-admin.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Détails de la commande fournisseur du {{ commande.commande.date|date('d-mY') }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}



{% block body %}
    <h2>Détails commande fournisseur du {{ commande.commande.date|date('d-mY') }}</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Client</h3>
        {% if commande.customer is not empty %}
          <strong>Nom Client:</strong>
          <span>{{ commande.customer.firstname }} {{ commande.customer.lastname }}</span><br>
          <strong>Numéro de téléphone client:</strong>
          <span>{{ commande.customer.phoneNumber }}</span><br>
        {% else %}
          Vente anomyne
        {% endif %}
      </div>
      <div class="col-md-6">
        <h3>Commande</h3>
        <strong>Montant total de la vente</strong><br>
        <span>{{ commande.commande.totalAmount|number_format(0, ',', ' ') }} F CFA</span><br>
      </div>
    </div><br><br>
    <div class="row">
      <div class="">
        <div class="table-responsive">
          {% set i = 0 %}
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Sous-total</th>
              </tr>
            </thead>
            {% for item in commande.product %}
              {% set i = i + 1 %}
                <tbody>
                  <tr>
                    <td>{{ i }}</td>
                    <td>{{ item.product.category.name }} {{ item.product.mark.label }} - {{ item.product.description }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unitPrice|number_format(0, ',', ' ') }} F CFA</td>
                    <td>{{ item.subtotal|number_format(0, ',', ' ') }} F CFA</td>
                  </tr>
                </tbody>
            {% endfor %}
          </table>
        </div><br><br>
      </div>
    </div>
{% endblock %}
