{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Enregistrement des détails de la vente du {{ commande.commande.date|date('d-m-Y') }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <h2 class="animate-box" data-animate-effect="fadeInLeft">Enregistrement des détails de la vente du {{ commande.commande.date|date('d-m-Y') }}</h2>
  {{ include('Admin/Sell/_sell-details.html.twig') }}
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function(){
      // A chaque fois que le prix change
      $('.price').on('input',function(e){
        var id = $(this).attr("name");
        var price = $(this).val();
        var priceH = document.getElementById('priceH[' + id + ']');
        var qte = document.getElementById('quantity[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        priceH.value = price;
        sousTotal.value = parseFloat(qte) * parseFloat(price);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });

      // A chaque fois que la quantité change
      $('.quantity').on('input',function(e){
        var id = $(this).attr("name");
        var qte = $(this).val();
        var quantityH = document.getElementById('quantityH[' + id + ']');
        var price = document.getElementById('price[' + id + ']').value;
        var sousTotal = document.getElementById('sousTotal[' + id + ']');
        var total = document.getElementById('total');
        quantityH.value = qte;
        sousTotal.value = parseFloat(price) * parseFloat(qte);
        var st = $('.sousTotal');
        var tt = 0;
        for (var i = 0; i < st.length; i++) {
          tt += eval(st[i].value);
          console.log(st[i].value);
        }
        total.value = tt;
     });
    });
  </script>
{% endblock %}
