{% extends 'base.html.twig' %}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Règlement de la vente du {{ commande.date|date('d-mY') }}
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}



{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="animate-box" data-animate-effect="fadeInLeft">Détails vente N° <strong>{{ commande.reference }}</strong> du <strong>{{ commande.date|date('d-m-Y') }}</strong></h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Client</h3>
        {% if commande.customer is not empty %}
          <strong>Nom Client:</strong>
          <span>{{ commande.customer.firstname }} {{ commande.customer.lastname }}</span><br>
          <strong>Numéro de téléphone client:</strong>
          <span>{{ commande.customer.phoneNumber }}</span><br>
        {% else %}
          Vente anomyne
        {% endif %}
      </div>
      <div class="col-md-6">
        <h3>Commande</h3>
        <strong>Montant total de la vente</strong><br>
        <span>{{ commande.totalAmount|number_format(0, ',', ' ') }} F</span><br>
      </div>
    </div><br><br>
    <div class="row">
      <div class="">
        <div class="table-responsive">
          {% set i = 0 %}
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Sous-total</th>
              </tr>
            </thead>
            {% for item in commande.product %}
              {% set i = i + 1 %}
                <tbody>
                  <tr>
                    <td>{{ i }}</td>
                    <td>{{ item.product.label }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unitPrice|number_format(0, ',', ' ') }} F</td>
                    <td>{{ item.subtotal|number_format(0, ',', ' ') }} F</td>
                  </tr>
                </tbody>
            {% endfor %}
          </table>
        </div><br><br>
        {% set totalRetour = 0 %}
        {% if commande.returnedProducts is not empty %}
            {% for item in commande.returnedProducts %}
              {# {% for prod in commande.product if item.product.id == prod.id %} #}
                {% set totalRetour = totalRetour + (item.quantity * prod.unitPrice) %}
                {# <li>{{ item.quantity }} {{ item.product.label }}</li> #}
              {# {% endfor %} #}
            {% endfor %}
        {% endif %}
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Règlements</h3>
            {% if commande.settlements is not empty %}
              {% set total = 0 %}
              <table width="100%">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Enregistré par</th>
                    <th>Enregistré le</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in commande.settlements %}
                    <tr>
                      {% set total = total + item.amount %}
                      <td>{{ item.date|date('d-m-Y') }}</td>
                      <td>{{ item.amount|number_format(0, ',', ' ') }} F</td>
                      <td>{{ item.createdBy.username }}</td>
                      <td>{{ item.createdAt|date('d-m-Y') }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
              {% if commande.ended == true %}
                <p>Soldée</p>
              {% else %}
                {% set rest = commande.totalAmount - total - totalRetour %}
                <p>Reste à Payer : {{ rest|number_format(0, ',', ' ') }} F</p>
              {% endif %}
            {% endif %}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Nouveau règlement</h3>
            <form class="" action="" method="post">
              <div class="row">
                <div class="col-md-6">
                  <label for="date">Date de règlement</label>
                  <input type="date" name="date" value="{{ 'now'|date('Y-m-d') }}" class="form-control" required>
                </div>
                <div class="col-md-6">
                  <label for="date">Montant règlement</label>
                  <input type="integer" name="amount" class="form-control" required>
                </div>
              </div><br>
              <div class="col-md-4">
                  {% if app.request.attributes.get('from') is defined %}
                    <input type="hidden" name="from" value="accounting">
                  {% endif %}
                  <input type="hidden" name="token" value="{{ csrf_token('token_reglement') }}">
                  <button type="submit" name="button" class="btn-lg btn-primary">Enregistrer</button>
                </div>
            </form>
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Echéances</h3>
            {% if commande.echeances is not empty and commande.customer is not empty %}
              <ul>
                {% for item in commande.echeances %}
                  {% set montant = item.amount|number_format(0, ',', ' ') %}
                  {% if item.amount == 0 %}
                    {% set montant = "Non défini" %}
                  {% endif %}
                  <li>{{ item.dateEcheance|date('d-m-Y') }} : {{ montant }} F</li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Pas d'échéances de paiement prévues</p>
              <div class="row">
                {% if commande.echeances is empty and commande.customer is not empty %}
                  <div class="col-md-8">
                    <a href="{{ path('echeance_add', {id: commande.id}) }}"><div class="btn-lg btn-warning">Echéances de paiement</div></a>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div><br><br>
      </div>
    </div>
  </div>
{% endblock %}
