<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            /** Define the margins of your page **/
            @page {
                margin: 0px 10px;
            }

            table{
              width: 98%;
              padding-right: 5px;
            }

            table, th, td {
              /* border: 1px solid black; */
            }

            /* tr:nth-child(even) {background-color: #CCC}
            tr:nth-child(odd) {background-color: #FFF} */

            main{
              font-size: .7em
            }

            .numero{
              text-align: center;
            }

            .ref{
              font-style: underline;
              /* font-size: .8em; */
            }

            .info-customer{
              width: 40%;
              display: inline-block;
              float: right;
              vertical-align : top;
              margin-top: 1px;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            tbody{
              /* font-size: .7em; */
            }

            .title{
              text-align: center;
              font-family: 'Elegance';
              font-size: 1em;
              padding-top: 10px;
              margin-bottom: 0px;
              padding-bottom: 0px;
            }
        </style>
        <meta charset="UTF-8">
        <title>Facture de la vente N° {{ commande.reference }} | Smart Market</title>
    </head>
    <body>
        <!-- Wrap the content of your PDF inside a main tag -->
        <main>
            {# <p style="page-break-after: always;">
                Content Page 1
            </p>
            <p style="page-break-after: never;">
                Content Page 2
            </p> #}
          <div class="content">
            <h1 class="title">
              {% if info is defined %}
                <strong>{{ info.nom }}</strong><br>
                {% if info.adresse is not empty %}
                  ******* {{ info.adresse }} *******<br>
                {% endif %}
                {% if info.telephone is not empty %}
                  Téléphone: {{ info.telephone }}<br>
                {% endif %}
                {% if info.email is not empty %}
                  Email: {{ info.email }}<br>
                {% endif %}
                {% if info.siteWeb is not empty %}
                  Site web: {{ info.siteWeb }}<br>
                {% endif %}
              {% else %}
                SmartMarket
              {% endif %}
              ******000******
            </h1>
            <br>
            <div class="row">
              <div class="info-enterprise" style="">
                <div class="reference-commande">
                  <table>
                    <tr>
                      <td witdh="10%"><span class="ref">Réf. facture</span></td>
                      <td><span class="ref">: {{ commande.reference }}</span></td>
                    </tr>
                    <tr>
                      <td witdh="10%"><span class="ref">Code client</span></td>
                      <td><span class="ref">: {{ commande.customer.reference }}</span></td>
                    </tr>
                    <tr>
                      <td witdh="10%"><span class="ref">Client: </span></td>
                      <td><span class="ref">: {{ commande.customer.firstname }} {{ commande.customer.lastname }}</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div><br>
            <div class="row">
              <p style="text-align: center;">PAIEMENT AU COMPTANT</p>
            </div>
            <div class="row" style="text-align: right; padding-right: 10px;">
              <span style="font-weight: bold;">{{ 'now'|date('d-m-Y') }}</span> à <span style="font-weight: bold;">{{ 'now'|date('H:i:s') }}</span>
            </div>
            <div class="table-responsive">
              {% set i = 0 %}
              <table class="table" cellspacing="0" border="0">
                <thead>
                  <tr align="left">
                    <th>Désignation</th>
                    <th>PU</th>
                    <th>Qte</th>
                    <th>Total</th>
                  </tr>
                </thead>
                {% for item in commande.product %}
                  {% set i = i + 1 %}
                  {% set color = "" %}
                  {% if (i % 2) == 0 %}
                      {% set color = 'white' %}
                  {% else %}
                      {% set color = '#EEEEEE' %}
                  {% endif %}
                    <tbody>
                      <tr bgcolor="{{ color }}">
                        <td>{{ item.product.label }}</td>
                        <td style="font-size: .9em">{{ item.unitPrice|number_format(0, ',', '.') }} F</td>
                        <td style="text-align: center">{{ item.quantity }}</td>
                        <td style="font-size: .9em">{{ item.subtotal|number_format(0, ',', '.') }} F</td>
                      </tr>
                    </tbody>
                {% endfor %}
              </table>
              {# <br><br><br><br> #}
              {# <div class="row">
                <div class="col-md-3">{{ commande.product[0].product.label }}</div>
                <div class="col-md-3">{{ commande.product[0].quantity }}</div>
                <div class="col-md-3">{{ commande.product[0].unitPrice|number_format(0, ',', ' ') }} F</div>
                <div class="col-md-3">{{ commande.product[0].subtotal|number_format(0, ',', ' ') }} F</div>
              </div> #}
              <br>
              <div style="">
                <table class="table" cellspacing="0" border="0" width="90%">
                  <tfoot>
                    <tr style="border: 1px solid black">
                      <td width="50%">Montant HT</td>
                      <td width="40%" align="right" style="align: right">{{ commande.totalAmount|number_format(0, ',', '.') }} F&nbsp;</td>
                      <td width="5%"></td>
                    </tr>
                    <tr style="border: 1px solid black">
                      <td width="50%">TVA</td>
                      <td width="40%" align="right" style="align: right">{{ commande.tva }}%&nbsp;</td>
                      <td width="5%"></td>
                    </tr>
                    <tr style="border: 1px solid black">
                      <td width="50%">Montant TTC</td>
                      <td width="40%" bgcolor="#D3D3D3" align="right" style="align: right">{{ commande.montantTtc|number_format(0, ',', '.') }} F&nbsp;</td>
                      <td width="5%"></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="row">
              <div style="text-align: right; font-style: italic; padding-right: 20px">
                <p><strong>Merci pour votre confiance</strong></p><br>
                <p>Edité par : <strong>{{ app.user.username }}</strong></p><br><br>
              </div>
            </div>
          </div>
        </main>
    </body>
</html>