<section class="contact-area container">
    <form class="ui form" action="" method="post">
        {% set i = 0 %}
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Produit</th>
              <th>Quantité</th>
              <th>Prix Unitaire</th>
              <th>Sous total</th>
            </tr>
          </thead>
          {% set total = 0 %}
          {% for product in products %}
            {% set i = i + 1 %}
            {% set total = total + product.unitPrice %}
              <tbody>
                <tr>
                  <td>
                    {{ i }}
                  </td>
                  <td>
                    {{ product.category.name }} {{ product.mark.label }} - {{ product.description }}
                  </td>
                  <td>
                    <input type="number" class="quantity" id="quantity[{{ product.id }}]" name="{{ product.id }}" value="1" min="1" max="{{ product.stock }}" required>
                    <input type="hidden" name="quantityH[{{ product.id }}]"  id="quantityH[{{ product.id }}]" value="1">
                  </td>
                  <td>
                    <input type="number" class="price" id="price[{{ product.id }}]" name="{{ product.id }}" value="{{ product.unitPrice }}" required>
                    <input type="hidden" name="priceH[{{ product.id }}]" id="priceH[{{ product.id }}]" value="{{ product.unitPrice }}">
                  </td>
                  <td>
                    <input type="number" class="sousTotal" id="sousTotal[{{ product.id }}]" name="sousTotal[{{ product.id }}]" value="{{ product.unitPrice }}" readonly>
                  </td>
                </tr>
              </tbody>
          {% endfor %}
          <tfoot>
            <tr>
              <td colspan="4"><h4>Total de la commande</h4></td>
              <td><h4><input type="text" id="total" name="total" value="{{ total }}" readonly></h4></td>
            </tr>
          </tfoot>
        </table>
        <input type="hidden" name="token" value="{{ csrf_token('vente') }}"/>
        <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button><br><br>
    </form>
</section>
