{% extends 'base.html.twig' %}

{% block stylesheets %}
  <!-- Custom styles for this page -->
  <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}



{% block title 'Gestion de rôles utilisateur | ' ~ user.username %}



{% block notifications %}
{% endblock %}



{% block body %}
  <!-- Content Row -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10">
        <!-- Overflow Hidden -->
        <div class="card mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gestion des rôles de l'utilisateur <span>{{ user.username }}</span> </h6>
          </div>
          <div class="card-body">
            <form action="#" method="post">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Rôles</th>
                    <th scope="col">Descriptions</th>
                  </tr>
                </thead>
                </tbody>
                  <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch1" value="ROLE_ADMIN" {% if 'ROLE_ADMIN' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch1">ROLE_ADMIN</label>
                      </div>
                    </td>
                    <td>
                      Dispose de tous les droits pour le traitement d'informations relatives aux paramètres généraux de l'application.
                    </td>
                  </tr>
                  {# <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch12" value="ROLE_ENSEIGNANT_PRIMAIRE" {% if 'ROLE_ENSEIGNANT_PRIMAIRE' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch12">ROLE_ENSEIGNANT_PRIMAIRE</label>
                      </div>
                    </td>
                    <td>
                      Permet à l'utilisateur d'enregistrer les notes des composition au primaire.
                    </td>
                  </tr> #}
                  <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch11" value="ROLE_GESTION_ENSEIGNANT" {% if 'ROLE_GESTION_ENSEIGNANT' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch11">ROLE_GESTION_ENSEIGNANT</label>
                      </div>
                    </td>
                    <td>
                      Permet à l'utilisateur d'enregistrer des tests (interrogations / devoirs), d'enregistrer 
                      les notes des élèves des classes sous sa tutelle au secondaire.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch3" value="ROLE_GESTION_ELEVE" {% if 'ROLE_GESTION_ELEVE' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch3">ROLE_GESTION_ELEVE</label>
                      </div>
                    </td>
                    <td>
                      Enregistrer des élèves dans le système. Faire des inscriptions et réinscriptions.
                      Peut aussi changer la classe d'un élève.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch4" value="ROLE_COMPTABILITE" {% if 'ROLE_COMPTABILITE' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch4">ROLE_COMPTABILITE</label>
                      </div>
                    </td>
                    <td>
                      Permet à l'utilisateur de gérer la comptabilité de l'école. Il s'agira essentiellement 
                      d'enregistrer les entrées et les sorties.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch5" value="ROLE_ETUDE" {% if 'ROLE_ETUDE' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch5">ROLE_ETUDE</label>
                      </div>
                    </td>
                    <td>
                      Gestion du programme d'étude. Les livres, les matières, la répartition des enseignants
                      dans les classes...
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch7" value="ROLE_SCOLARITE" {% if 'ROLE_SCOLARITE' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch7">ROLE_SCOLARITE</label>
                      </div>
                    </td>
                    <td>
                      Ce rôle permet de gérer les classes (enregistrement de classes), les absences et retards des élèves, les conduites...
                    </td>
                  </tr>
                  {# <tr>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" name="roles[]" class="custom-control-input" id="customSwitch8" value="ROLE_RESPONSABLE_CLASSE" {% if 'ROLE_RESPONSABLE_CLASSE' in user.roles %} checked {% endif %}>
                        <label class="custom-control-label" for="customSwitch8">ROLE_RESPONSABLE_CLASSE</label>
                      </div>
                    </td>
                    <td>
                      Il permettra de calculer les moyennes trimestrielles et annuelles.
                      Il servira aussi lors de l'édition des bulletins.
                    </td>
                  </tr> #}
                </tbody>
              </table>
              <hr>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('roles_management') }}"/>
              <button class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">Appliquer les modifications</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {# <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script> #}
  <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <!-- Page level plugins -->
  <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
  <!-- Page level custom scripts -->
  <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}
