{% extends 'base.html.twig' %}


{% block title %}Statistiques sur les mouvements d'acomptes | Smart Market{% endblock %}


{% block stylesheets %}
<link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
<style>
  .my-custom-td{
     vertical-align: middle
  }
</style>
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn-primary btn">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Statistiques sur les mouvements d'acomptes</h2>
  
  <form action="" method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="customer">Client</label>
          <select name="customer" id="customer" class="form-control mb-4 js-example-basic-single" required>
            <option value="">Sélectionner un client</option>
            {% for customer in customers if customer.isDeleted == 0 %}
              <option value="{{ customer.id }}">{{ customer.reference }} --- {{ customer.nom }} {{ customer.phoneNumber }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="debut">Du</label>
          <input type="date" name="debut" id="debut" class="form-control" value="{% if statistiques["debut"] is defined %}{{ statistiques["debut"]|date('Y-m-d') }}{% endif %}" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fin">Au</label>
          <input type="date" name="fin" id="fin" class="form-control" value="{% if statistiques["fin"] is defined %}{{ statistiques["fin"]|date('Y-m-d') }}{% else %}{{ 'now'|date('Y-m-d') }}{% endif %}" required>
        </div>
      </div>
      <div class="col-md-1">
        {# <div class="form-group"> #}
          <label for=""></label>
          <button class="btn btn-default">Rechercher</button>
          <input type="hidden" name="token" value="{{ csrf_token('statistiques_customers') }}"/>
        {# </div> #}
      </div>
    </div>
  </form><br><br>
  <div class="row">
    {% if statistiques is not empty %}
      {# {{ dump(statistiques["customer"]) }} #}
      {% set customer = statistiques["customer"] %}
      {% set acomptes = statistiques["acomptes"] %}
      {% set retraitsAcomptes = statistiques["retraitsAcomptes"] %}
      {% set dates = statistiques["dates"] %}
      {% set reglementsAcomptes = statistiques["reglementsAcomptes"] %}
      {% set debut = statistiques["debut"] %}
      {% set fin = statistiques["fin"] %}
      <div class="row">
        <h3><strong>{{customer.nom}}</strong> Du <strong>{{debut|date('d-m-Y')}}</strong> au <strong>{{fin|date('d-m-Y')}}</strong></h3>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="5" style="text-align:center">Les mouvements de l'acompte du client {{customer.nom}}</th>
          </tr>
          <tr>
            <th>#</th>
            <th>Date</th>
            <th>Dépôt</th>
            <th>Règlement</th>
            <th>Retrait</th>
            <th>Diff</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %}
          {% set totalAcompte = 0 %}
          {% set totalRetrait = 0 %}
          {% set totalReglement = 0 %}
          {% for dt in range(debut|date('U'), fin|date('U'), 86400 ) if dt|date("Y-m-d") in dates %}
            {% set i = i + 1 %}
            <tr>
              <td>{{ i }}</td>
              <td>{{ dt|date('d-m-Y') }}</td>
              <td>
                {% for item in acomptes %}
                  {% if item.date|date("d-m-Y") == dt|date('d-m-Y')  %}
                    {% set totalAcompte = totalAcompte + item.montant %}
                    <li>{{ item.montant|number_format(0, ',', ' ') }} F</li>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for item in reglementsAcomptes %}
                  {% if item.date|date("d-m-Y") == dt|date('d-m-Y')  %}
                    {% set totalReglement = totalReglement + item.amount %}
                    <li>{{ item.amount|number_format(0, ',', ' ') }} F</li>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% for item in retraitsAcomptes %}
                  {% if item.date|date("d-m-Y") == dt|date('d-m-Y')  %}
                    {% set totalRetrait = totalRetrait + item.montant %}
                    <li>{{ item.montant|number_format(0, ',', ' ') }} F</li>
                  {% endif %}
                {% endfor %}
              </td>
              <td>{{ (totalAcompte - totalReglement - totalRetrait)|number_format(0, ',', ' ') }} F</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br><br>
    {% endif %}
  </div>
{% endblock %}


{% block javascript %}
  <script src="{{ asset('js/select2.min.js') }}"></script>
  <script>
    $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>
{% endblock %}
