{% extends 'base.html.twig' %}


{% block title %}Statistiques sur les produits | Smart Market{% endblock %}


{% block stylesheets %}
<link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
<style>
  .my-custom-td{
     vertical-align: middle
  }
</style>
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn-primary btn">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Statistiques sur les produits</h2>
  
  <form action="" method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="product">Produits</label>
          <select name="product" id="product" class="form-control mb-4 js-example-basic-single" required>
            <option value="">Sélectionner un produit</option>
            {% for product in products if product.isDeleted == 0 %}
              <option value="{{ product.id }}">{{ product.reference }} --- {{ product.label }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="debut">Du</label>
          <input type="date" name="debut" id="debut" class="form-control" value="{% if statistiques["debut"] is defined %}{{ statistiques["debut"]|date('Y-m-d') }}{% endif %}" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="fin">Au</label>
          <input type="date" name="fin" id="fin" class="form-control" value="{% if statistiques["fin"] is defined %}{{ statistiques["fin"]|date('Y-m-d') }}{% endif %}" required>
        </div>
      </div>
      <div class="col-md-1">
        {# <div class="form-group"> #}
          <label for=""></label>
          <button class="btn btn-default">Rechercher</button>
          <input type="hidden" name="token" value="{{ csrf_token('statistiques_products') }}"/>
        {# </div> #}
      </div>
    </div>
  </form><br><br>
  <div class="row">
    {% if statistiques is not empty %}
      {# {{ dump(statistiques["product"]) }} #}
      {% set product = statistiques["product"] %}
      {% set debut = statistiques["debut"] %}
      {% set fin = statistiques["fin"] %}
      <div class="row">
        <h3><strong>{{product.reference}} - {{product.label}}</strong> : Du <strong>{{debut|date('d-m-Y')}}</strong> au <strong>{{fin|date('d-m-Y')}}</strong></h3>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="8" style="text-align:center">Les ventes du produit {{product.reference}} - {{product.label}}</th>
          </tr>
          <tr>
            <th>#</th>
            <th>Référence commande</th>
            <th>Clients</th>
            <th>Date</th>
            <th>Quantité vendue</th>
            <th>Prix</th>
            <th>Sous-total</th>
            <th>Bénéfice</th>
          </tr>
        </thead>
        <tbody>
          {% set i = 0 %}
          {% set quantity = 0 %}
          {% set price = 0 %}
          {% set sousTotal = 0 %}
          {% set benefice = 0 %}
          {% for item in product.commandeDetails if date(debut) <= date(item.commande.date) and  date(fin) >= date(item.commande.date) %}
            {% set i = i + 1 %}
            {% set quantity = quantity + item.quantity %}
            {% set price = price + item.unitPrice %}
            {% set sousTotal = sousTotal + item.quantity * item.unitPrice %}
            {% set benefice = benefice + item.benefice %}
            <tr>
              <td style="vertical-align: middle">{{i}}</td>
              <td style="vertical-align: middle">{{item.commande.reference}}</td>
              <td style="vertical-align: middle">{{item.commande.customer.nom}}</td>
              <td style="vertical-align: middle">{{item.commande.date|date('d-m-Y')}}</td>
              <td style="vertical-align: middle">{{item.quantity}}</td>
              <td style="vertical-align: middle">{{item.unitPrice|number_format(0, ',', ' ') }} F</td>
              <td style="vertical-align: middle">{{(item.unitPrice * item.quantity)|number_format(0, ',', ' ') }} F</td>
              <td style="vertical-align: middle">{{item.benefice|number_format(0, ',', ' ') }} F</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">Totaux</th>
            <td>{{ quantity }}</td>
            <td>{{ price|number_format(0, ',', ' ') }} F</td>
            <td>{{ sousTotal|number_format(0, ',', ' ') }} F</td>
            <td>{{ benefice|number_format(0, ',', ' ') }} F</td>
          </tr>
        </tfoot>
      </table>

    {% endif %}
  </div>
{% endblock %}


{% block javascript %}
  <script src="{{ asset('js/select2.min.js') }}"></script>
  <script>
    $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>
{% endblock %}
