{{ form_start(form, {'attr': {'class': ''}}) }}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" name="date" id="date" class="form-control" value="{{ 'now'|date('Y-m-d') }}" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.type) }}</label>
                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.amount) }}</label>
                {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">{{ form_label(form.description) }}</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <button class="btn-default btn-sm" id="save" onclick="submitForm(this);">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
