{% extends 'base.html.twig' %}

{% block title %}Dépense du mois {{ mois }}{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
<div class="fh5co-narrow-content">
  <a href="javascript:history.back()" class="btn-primary btn-sm">
    <span class="lnr lnr-arrow-left"></span>&nbsp;Retour
  </a><br><br>
  <h2 class="animate-box" data-animate-effect="fadeInLeft">Toutes les dépenses du mois <strong>{{ mois }}</strong></h2>
  <a href="{{ path('print_depenses_mensuelles', {mois: app.request.get('mois')}) }}" class="btn-info btn-sm"> <i class="icon-show"></i> Imprimer les dépenses mensulles</a><br><br>
  <div class="row">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Type dépense</th>
          <th>Description</th>
          <th>Montant</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% set total = 0 %}
        {% for depense in depenses %}
          {% set i = i + 1 %}
          {% set total = total + depense.amount %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ depense.dateDepense|date('d-m-Y') }}</td>
            <td>{{ depense.type.label }}</td>
            <td>{{ depense.description }}</td>
            <td>{{ depense.amount|number_format(0, ',', ' ') }} F</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">Total</th>
          <th>{{ total|number_format(0, ',', ' ') }} F</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}
