<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            /** Define the margins of your page **/
            @page {
                margin: 100px 50px;
            }

            header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                color: gray;
                text-align: left;
                padding-left: 20px;
                font-size: .9em
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                color: darkGray;
                text-align: center;
                font-size: 0.5em;
            }

            table{
              width: 100%
            }

            table, th, td {
              /* border: 1px solid black; */
            }

            /* tr:nth-child(even) {background-color: #CCC}
            tr:nth-child(odd) {background-color: #FFF} */

            td{
              /* border: 1px solid black; */
              border-collapse: collapse;
              font-size: 1.2em
            }

            .numero{
              text-align: center;
            }

            .invoice-header{
            }

            .info-enterprise{
              width: 58%;
              display: inline-block;
              vertical-align : top;
              margin-top: 1px;
            }

            .info-provider{
              width: 40%;
              display: inline-block;
              float: right;
              vertical-align : top;
              margin-top: 1px;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            tbody{
              font-size: .7em;
            }

            .title{
              text-align: center;
              font-family: 'Elegance';
              font-size: 1.3em;
              padding-top: 10px;
              margin-bottom: 0px;
              padding-bottom: 0px;
            }

            .settlement{
              width: 95%;
              font-size: 1em;
            }
        </style>
        <meta charset="UTF-8">
        <title>Dépenses mensuelles - {{ mois }} | Smart Market</title>
    </head>
    <body>
        {# Inclusion de l'entête de du pied de page #}
        {{ include('header.html.twig') }}
        <!-- Wrap the content of your PDF inside a main tag -->
        <main>
            {# <p style="page-break-after: always;">
                Content Page 1
            </p>
            <p style="page-break-after: never;">
                Content Page 2
            </p> #}
          <div class="content">
            <h1 class="title">
              Dépenses mensuelles - {{ mois }} 
            </h1>
            <div class="table-responsive">
              <table  class="table" cellspacing="0" border="0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Type dépense</th>
                    <th>Description</th>
                    <th>Montant</th>
                  </tr>
                </thead>
                <tbody>
                  {% set i = 0 %}
                  {% set total = 0 %}
                  {% for depense in depenses %}
                    {% set color = "" %}
                    {% if (i % 2) == 0 %}
                        {% set color = 'white' %}
                    {% else %}
                        {% set color = '#EEEEEE' %}
                    {% endif %}
                    {% set i = i + 1 %}
                    {% set total = total + depense.amount %}
                    <tr bgcolor="{{ color }}">
                      <td>{{ i }}</td>
                      <td>{{ depense.dateDepense|date('d-m-Y') }}</td>
                      <td>{{ depense.type.label }}</td>
                      <td>{{ depense.description }}</td>
                      <td>{{ depense.amount|number_format(0, ',', ' ') }} F</td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="4">Total</th>
                    <th>{{ total|number_format(0, ',', ' ') }} F</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </main>
    </body>
</html>