{{ form_start(form, {'attr': {'class': ''}}) }}
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">{{ form_label(form.reference) }}</label>
            {{ form_widget(form.reference, {'attr': {'class': 'form-control', 'value': reference}}) }}
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.category) }}</label>
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.mark) }}</label>
                {{ form_widget(form.mark, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.description) }}</label>
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.purchasing_price) }}</label>
                {{ form_widget(form.purchasing_price, {'attr': {'class': 'form-control', 'value': '0'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.unit_price) }}</label>
                {{ form_widget(form.unit_price, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.security_stock) }}</label>
                {{ form_widget(form.security_stock, {'attr': {'class': 'form-control', 'value': '20'}}) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="">{{ form_label(form.image) }}</label>
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <button class="btn btn-default">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
