{% extends 'base.html.twig' %}


{% block title %}Les marchandises{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Marchandises</h2>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
      <a href="{{ path('category') }}" class="btn btn-primary btn-sm">Gestion des catégories</a>
      <a href="{{ path('product.add') }}" class="btn btn-primary btn-sm">Ajouter une marchandise</a>
      <a href="{{ path('edit.product.unit.price') }}" class="btn btn-primary btn-sm">Modifier les prix unitaires</a>
    {% endif %}
    <div class="row">
      {{ form_start(form) }}
      <div class="row">
        <div class="col-md-4">
          {{ form_row(form.category, {'attr': {'class': 'form-control mb-4'}}) }}
        </div>
        <div class="col-md-4">
          {{ form_row(form.mark, { 'attr': {'class': 'form-control mb-4'} }) }}
        </div>
        <div class="col-md-4">
          {{ form_row(form.description, { 'attr': {'class': 'form-control mb-4'} }) }}
        </div>
        <div class="col-md-4"><br>
          <button type="submit" class="btn btn-success btn-sm">{{ 'Rechercher'|trans }}</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
    <div class="table-responsive">
        <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>N°</th>
              <th>Catégorie</th>
              <th>Marque</th>
              <th>Description</th>
              <th>Stock</th>
              <th>Prix unitaire</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>N°</th>
              <th>Catégorie</th>
              <th>Marque</th>
              <th>Description</th>
              <th>Stock</th>
              <th>Prix unitaire</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            {% set i = 0 %}
            {% for product in products %}
              {% set i = i + 1 %}
              <tr>
                <td>{{ i }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.mark.label }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.unitPrice|number_format(0, ',', ' ') }} F CFA</td>
                <td>
                  <a href="{{ path('product.edit', {id: product.id}) }}" title="Modifier ce produit"><i class="icon-edit"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <div class="row">
      <div class="navigation">
        {{ knp_pagination_render(products) }}
      </div>
    </div>
    </div>
  </div>
{% endblock %}
