{% extends 'base.html.twig' %}


{% block title %}Modification de marchandise - {{ product.label }}{% endblock %}


{% block notifications %}{% endblock %}


{% block body %}
    <div class="fh5co-narrow-content">
        <a href="javascript:history.back()" class="btn btn-primary">Retour</a><br><br>
        <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Modification de la marchandise <strong>{{ product.label }}</strong> </h2>
        <div class="row">
            <div class="col-md-8">
                {{ form_start(form, {'attr': {'class': ''}}) }}
            <div class="row">
                <div class="col-md-6">
                <div class="form-group">
                    <label for="">Référence du product</label>
                        <input type="text" name="" id="" value="{{ product.reference }}" class="form-control" readonly>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Catégorie</label>
                        <input type="text" name="" id="" value="{{ product.category.name }}" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Marque</label>
                        <input type="text" name="" id="" value="{% if product.mark.label is defined %}{{ product.mark.label }}{% endif %}" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">{{ form_label(form.description) }}</label>
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">{{ form_label(form.purchasing_price) }}</label>
                        {{ form_widget(form.purchasing_price, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">{{ form_label(form.unit_price) }}</label>
                        {{ form_widget(form.unit_price, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">{{ form_label(form.security_stock) }}</label>
                        {{ form_widget(form.security_stock, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">{{ form_label(form.unite) }}</label>
                        {{ form_widget(form.unite, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            <button class="btn btn-default" onclick="submitForm(this);">{{ button|default('Enregistrer') }}</button>
        {{ form_end(form) }}
            </div>
            <div class="col-md-4">
                <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="" style="max-width: 500px; height: auto">
            </div>
        </div>
        
    </div>
{% endblock %}


{% block javascript %}
  <script>
    function submitForm(btn) {
        // disable the button
        btn.disabled = true;
        // submit the form    
        btn.form.submit();
    }
  </script>
{% endblock %}
