{% extends 'base.html.twig' %}


{% block title %}Les types de dépense{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn-primary btn">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Dépôts</h2>
  <a href="{{ path('store_add') }}" class="btn-sm btn-primary">Ajouter un dépôt</a><br><br>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="">Nom</th>
          <th width="">Localisation</th>
          <th width="">Contact</th>
          <th width="">Description</th>
          <th width="">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in stores %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.localisation }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>{{ item.comment }}</td>
            <td>
              {% if item.isRoot == 0 %}
                <a href="{{ path('store_edit', {id: item.id}) }}"data-toggle="tooltip" title="Editer ce dépôt"><i class="icon-edit"></i></a>&nbsp;&nbsp;&nbsp;
              {% endif %}
              <a href="{{ path('store_info', {id: item.id}) }}"data-toggle="tooltip" title="Voir les stocks de ce dépôt"><i class="icon-display2"></i></a>
              {# <a href="{{ path('store_edit', {id: item.id}) }}"data-toggle="tooltip" title="Editer ce dépôt"><i class="icon-location4"></i></a>
              <a href="{{ path('store_edit', {id: item.id}) }}"data-toggle="tooltip" title="Editer ce dépôt"><i class="icon-bubble3"></i></a>
              <a href="{{ path('store_edit', {id: item.id}) }}"data-toggle="tooltip" title="Editer ce dépôt"><i class="icon-stack3"></i></a>
              <a href="{{ path('store_edit', {id: item.id}) }}"data-toggle="tooltip" title="Editer ce dépôt"><i class="icon-phone3"></i></a>
              <a href="{{ path('store_edit', {id: item.id}) }}"data-toggle="tooltip" title="Editer ce dépôt"><i class="icon-eye3"></i></a>
              <a href="{{ path('store_edit', {id: item.id}) }}"data-toggle="tooltip" title="Editer ce dépôt"><i class="icon-cup"></i></a> #}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function(){
      // $(".alert").alert('close');
    })
  </script>
{% endblock %}
