{% extends 'base.html.twig' %}


{% block title %}Les marchandises{% endblock %}


{% block stylesheets %}
    <link href="{{ asset('datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <style>
      .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        /* padding: 6px 0; */
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }
      .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        /* padding: 10px 16px; */
        font-size: 10px;
        text-align: center;
        line-height: 1.33;
        border-radius: 50px;
      }
    </style>
{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn-primary btn">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Stock de marchandises du dépôt <strong>{{ store.name }}</strong></h2>
  <div class="table-responsive">
      <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>N°</th>
            <th>Référence</th>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Prix unitaire</th>
            {# <th>Actions</th> #}
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>N°</th>
            <th>Référence</th>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Prix unitaire</th>
            {# <th>Actions</th> #}
          </tr>
        </tfoot>
        <tbody>
          {% set i = 0 %}
          {% for product in store.stocks %}
            {% set i = i + 1 %}
            <tr {% if product.quantity == 0 %}class="bg-danger"{% elseif product.quantity < product.product.securityStock %}class="bg-warning"{% endif %}>
              <td>{{ i }}</td>
              <td>{{ product.product.reference }}</td>
              <td>{{ product.product.category.name }}</td>
              <td>{% if product.product.mark %} {{ product.product.mark.label }} {% endif %}</td>
              <td>{{ product.product.description }}</td>
              <td>{{ product.stockUnite }}</td>
              <td>{{ product.product.unitPrice|number_format(0, ',', ' ') }} F</td>
              {# <td>
                <a href="{{ path('product_edit', {id: product.product.id}) }}" title="Modifier ce produit"><i class="icon-edit"></i></a>
              </td> #}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/datatables-demo.js') }}"></script>
{% endblock %}
