{{ form_start(form, {'attr': {'class': ''}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">{{ form_label(form.label) }}</label>
                {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <button class="btn-default btn-sm">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
