{% extends 'base.html.twig' %}


{% block title %}Les types de dépense{% endblock %}


{% block notifications %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Succès</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Attention !!!</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
  {% for message in app.flashes('danger') %}
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Erreur</strong><br>
      {{ message|raw }}
    </div>
  {% endfor %}
{% endblock %}


{% block body %}
  <a href="javascript:history.back()" class="btn-primary btn">Retour</a><br><br>
  <h2 class="fh5co animate-box" data-animate-effect="fadeInLeft">Types de dépenses</h2>
  <a href="{{ path('typedepense.add') }}" class="btn-sm btn-primary">Ajouter un type de dépense</a>
  <div class="row row-bottom-padded-md mb-5">
    {% set i = 0 %}
    {% for item in typedepenses %}
      {% set i = i + 1 %}
      <div class="col-md-3 col-sm-6 col-padding text-center animate-box card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title" style="margin: 0px">{{ item.label }}</h5>
          <h6 class="card-subtitle text-muted" style="margin: 0px">Type de dépense {{ i }}</h6>
          {% if item.typeSysteme == 0 %}
            <a href="{{ path('typedepense.edit', {id: item.id}) }}" class="card-link">Edition</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}


{% block javascript %}
  <script>
    $(document).ready(function(){
      // $(".alert").alert('close');
    })
  </script>
{% endblock %}
