<!DOCTYPE html>
<html>
    <head>
        <style>
            @font-face {
                font-family: 'Elegance';
                font-weight: normal;
                font-style: normal;
                font-variant: normal;
                src: url("http://eclecticgeek.com/dompdf/fonts/Elegance.ttf") format("truetype");
            }

            /** Define the margins of your page **/
            @page {
                margin: 100px 50px;
            }

            header {
                position: fixed;
                top: -60px;
                left: 0px;
                right: 0px;
                height: 50px;

                /** Extra personal styles **/
                color: gray;
                text-align: left;
                padding-left: 20px;
                font-size: .9em
            }

            footer {
                position: fixed; 
                bottom: -60px; 
                left: 0px; 
                right: 0px;
                height: 50px; 

                /** Extra personal styles **/
                color: darkGray;
                text-align: center;
                font-size: 0.5em;
            }

            table{
              width: 95%
            }

            table, th, td {
              border: 1px solid black;
            }

            td{
              border: 1px solid black;
              border-collapse: collapse;
              font-size: 1.2em
            }

            .numero{
              text-align: center;
            }

            .row{
              margin: 0px;
              padding: 0px;
              width: 100%;
            }

            .col{
              width: 32%;
              display: inline-block;
            }

            p{
              margin: 0px;
              padding: 5px;
            }

            .info{
              font-weight: bold;
            }

            tbody{
              font-size: .7em;
            }

            /* body{
              display: flex;
              flex-direction: column-reverse;
            } */
        </style>
        <meta charset="UTF-8">
        <title>Liste des clients | Smart Market</title>
    </head>
    <body>
        {# Inclusion de l'entête de du pied de page #}
        {{ include('header.html.twig') }}
        <div class="title-form">
          <h1 class="title">Liste des clients</h3>
        </div>
        <div class="reference">
          <div class="row">
            <div class="col">
              <p class="annee">Date : {{ 'now'|date('d-m-Y H:i:s') }}<span class="info"></span></p>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <div class="content">
          <table cellspacing="0">
            <thead>
              <tr>
                <th class="numero">N°</th>
                <th class="">Référence</th>
                <th class="">Nom & Prénom</th>
                <th class="">Téléphone</th>
                <th class="">Email</th>
                <th class="">Type</th>
              </tr>
            </thead>
            <tbody>
              {% set i = 0 %}
              {% set total = 0 %}
              {% for customer in customers %}
                {% set i = i + 1 %}
                <tr>
                  <td class="numero">{{ i }}</td>
                  <td>{{ customer.reference }}</td>
                  <td>{{ customer.firstname }} {{ customer.lastname }}</td>
                  <td>{{ customer.phoneNumber }}</td>
                  <td>{{ customer.email }}</td>
                  <td>
                    {% if customer.type %}
                      {{ customer.type.type }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </body>
</html>